{% extends './layouts/frontend.twig' %}
{% set title = 'Passwort vergessen' %}
{% set metaDescription = '' %}
{% block title %}{{ title }}{% endblock %}
{% block description %}{{ metaDescription }}{% endblock %}
{% block bodyClass %}{% endblock %}

{% block content %}
    {% include './partials/defaultBanner.twig' with { 'title': title } %}
    <div class="container my-4 my-lg-8">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">

                    <p>Passwort vergessen? Kein Problem. Teile uns einfach deine E-Mail-Adresse mit und wir senden dir per E-Mail einen Link zum Zurücksetzen des Passworts, über den du ein neues Passwort auswählen kannst.</p>
                    {% if app.session.get('status') == 'verification-success' %}
                        {% include 'components/alert/success.twig' with {
                            'title': 'E-Mail Adresse wurde bestätigt.',
                            'text': 'Sie können sich mit Ihrer e-Mail Adresse und gewählten Passwort nun einloggen.'
                        } %}
                    {% elseif app.session.get('status') == 'passwords.sent' %}
                        {% include 'components/alert/success.twig' with {
                            'title': 'Passwort zurücksetzen',
                            'text': 'Wir haben dir einen Link zum Zurücksetzen deines Passwortes geschickt.'
                        } %}
                    {% endif %}

                    <form method="POST" action="{{ route('password.email') }}">
                        {{ csrf_field() }}
                        {% if errors.any() %}
                            <div class="alert alert-danger">
                                <ul class="m-0">
                                    {% for error in errors.all() %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="email" class="input-label ">E-Mail Adresse</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="email" id="email" value="" required />
                            </div>
                        </div>
                        <div class="form-group">
                            {% include 'components/recaptcha.twig' %}
                            <input type="submit" name="submit" class="btn btn-primary btn-block" value="E-Mail senden">
                        </div>
                        <div id="register-link" class="text-right">
                            <a href="{{ route('login') }}" class="text-info">Zurück zum Login</a>
                        </div>
                    </form>

            </div>
        </div>
    </div>
{% endblock %}
