{% extends './layouts/frontend.twig' %}
{% set title = 'Login' %}
{% set metaDescription = '' %}
{% block title %}{{ title }}{% endblock %}
{% block description %}{{ metaDescription }}{% endblock %}
{% block bodyClass %}{% endblock %}

{% block content %}
    {% include './partials/defaultBanner.twig' with { 'title': title } %}
    <div class="container my-4 my-lg-8">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">

                {% if app.session.get('status')== 'verification-success' %}
                    {% include 'components/alert/success.twig' with {
                        'title': 'E-Mail Adresse wurde bestätigt.',
                        'text': 'Du kannst dich mit deiner e-Mail Adresse und dem gewählten Passwort nun einloggen.'
                    } %}
                {% endif %}
                {% if app.session.get('status')== 'passwords.reset' %}
                    {% include 'components/alert/success.twig' with {
                        'title': 'Passwort zurückgesetzt.',
                        'text': 'Du kannst dich mit deiner e-Mail Adresse und dem gewählten Passwort nun einloggen.'
                    } %}
                {% endif %}

                <form method="POST" action="{{ route('login') }}">
                    {{ csrf_field() }}
                    {% if errors.any() %}
                        <div class="alert d-flex alert-danger" role="alert">
                            <div class="alert-icon">
                                {% include 'components/icon/icon.twig' with {
                                    'icon': 'exclamation-triangle',
                                    'title': 'Danger',
                                    'size': 4
                                } %}
                            </div>
                            <div class="alert-content-with-icon">
                                <h4 class="alert-heading">Fehler</h4>
                                <ul class="m-0">
                                    {% for error in errors.all() %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="email" class="input-label ">E-Mail Adresse</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="email" id="email" value="" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="input-label ">Passwort</label>
                        <div class="input-group">
                            <input type="password" value=""
                                   class="form-control input-group-input-icon"
                                   name="password" id="password"
                                   required
                                   data-controller="inputfield/password"
                                   autocomplete="current-password"/>
                            <button type="button" class="btn btn btn-link p-0 inputfield-icon input-group-inside d-none"
                                    data-controller="inputfield/password/toggle" aria-pressed="false">
                                {% include 'components/icon/icon.twig' with {
                                    'icon': 'eye-close',
                                    'class': 'inputfield-icon-password-invisible'
                                } %}
                                {% include 'components/icon/icon.twig' with {
                                    'icon': 'eye-open',
                                    'class': 'inputfield-icon-password-visible'
                                } %}
                            </button>
                        </div>
                    </div>

                    {% include 'components/recaptcha.twig' %}
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-primary btn-block" value="Login">
                    </div>
                    <div id="register-link" class="text-right">
                        <a href="{{ route('password.request') }}" class="text-info">Passwort vergessen?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

