{% extends './layouts/frontend.twig' %}
{% set title = 'Registrierung' %}
{% set metaDescription = '' %}
{% block title %}{{ title }}{% endblock %}
{% block description %}{{ metaDescription }}{% endblock %}
{% block bodyClass %}{% endblock %}

{% block content %}
    {% include './partials/defaultBanner.twig' with { 'title': title } %}

    <div class="container my-8">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">

                    {% if app.session.get('status')== 'created-success' %}
                        {% include 'components/alert/info.twig' with {
                            'title': 'Bitte bestätige Deine Registrierung!',
                            'text': 'Du hast es fast geschafft. Bitte bestätige Deine e-Mail Adresse innerhalb von 24 Stunden ansonsten verfällt die Registrierung.'
                        } %}
                    {% endif %}

                    <form method="POST" action="{{ route('register') }}">
                        {{ csrf_field() }}
                        {% if errors.any() %}
                            <div class="alert d-flex alert-danger" role="alert">
                                <div class="alert-icon">
                                    {% include 'components/icon/icon.twig' with {
                                        'icon': 'exclamation-triangle',
                                        'title': 'Danger',
                                        'size': 4
                                    } %}
                                </div>
                                <div class="alert-content-with-icon">
                                    <h4 class="alert-heading">Fehler</h4>
                                    <ul class="m-0">
                                        {% for error in errors.all() %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="username" class="input-label ">Username</label>
                            <div class="input-group">
                                {% set val = '' %}
                                {% if old.name is not empty %}
                                    {% set val = old.name %}
                                {% endif %}
                                <input type="text" class="form-control " name="name" id="name" value="{{ val }}" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="input-label ">E-Mail Adresse</label>
                            <div class="input-group">
                                {% set val = '' %}
                                {% if old.email is not empty %}
                                    {% set val = old.email %}
                                {% endif %}
                                <input type="text" class="form-control " name="email" id="email" value="{{ val }}" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="input-label mb-0">Passwort</label><br />
                            <div class="mb-1 small">Das Passwort muss aus mindestens 8 (und maximal 30) Zeichen bestehen und zudem eine Zahl, ein Sonderzeichen, sowie einen Groß- und einen Kleinbuchstaben beinhalten.</div>
                            <div class="input-group">
                                <input type="password"
                                       class="form-control input-group-input-icon"
                                       name="password" id="password"
                                       required
                                       autocomplete="current-password"
                                       data-controller="inputfield/password"
                                       value="" />
                                <button type="button" class="btn btn btn-link p-0 inputfield-icon input-group-inside d-none"
                                        data-controller="inputfield/password/toggle" aria-pressed="false">
                                    {% include 'components/icon/icon.twig' with {
                                        'icon': 'eye-close',
                                        'class': 'inputfield-icon-password-invisible'
                                    } %}
                                    {% include 'components/icon/icon.twig' with {
                                        'icon': 'eye-open',
                                        'class': 'inputfield-icon-password-visible'
                                    } %}
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="input-label ">Passwort-Bestätigung</label>
                            <div class="input-group">
                                <input type="password" value=""
                                       class="form-control input-group-input-icon"
                                       name="password_confirmation" id="password_confirmation"
                                       required
                                       data-controller="inputfield/password"
                                       autocomplete="current-password" />
                                <button type="button" class="btn btn btn-link p-0 inputfield-icon input-group-inside d-none"
                                        data-controller="inputfield/password/toggle" aria-pressed="false">
                                    {% include 'components/icon/icon.twig' with {
                                        'icon': 'eye-close',
                                        'class': 'inputfield-icon-password-invisible'
                                    } %}
                                    {% include 'components/icon/icon.twig' with {
                                        'icon': 'eye-open',
                                        'class': 'inputfield-icon-password-visible'
                                    } %}
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" required="required" id="privacy" name="privacy" data-controller="form/terms" class="custom-control-input ">
                                {% set privacyLabel = 'Ja, ich habe die <a href="/datenschutz" target="_blank">Datenschutzhinweise</a> zur Kenntnis genommen.' %}
                                <label for="privacy" class="custom-control-label">
                                    {{ privacyLabel|raw }}
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox ">
                                <input type="checkbox" required="required" id="terms" name="terms"  data-controller="form/agb" class="custom-control-input ">
                                {% set termsLabel = 'Ja, ich stimme den <a href="/teilnahmebedingungen" target="_blank">Teilnahmebedingungen</a> zu.' %}

                                <label for="terms" class="custom-control-label">
                                    {{ termsLabel|raw }}
                                </label>
                            </div>
                            {% include 'components/recaptcha.twig' %}
                            <br />
                            <input type="submit" name="submit" class="btn btn-primary btn-block" value="Registrieren">
                        </div>
                    </form>
                    <div class="form-group">
                        <a href="{{ route('verification.notice') }}">Bestätigungsmail erneut senden.</a>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
