{% extends './layouts/frontend.twig' %}
{% set title = 'Passwort vergessen' %}
{% set metaDescription = '' %}
{% block title %}{{ title }}{% endblock %}
{% block description %}{{ metaDescription }}{% endblock %}
{% block bodyClass %}{% endblock %}

{% block content %}
    {% include './partials/defaultBanner.twig' with { 'title': title } %}

    <div class="container my-4 my-lg-8">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="col-md-12">

                    <form method="POST" action="{{ route('password.update') }}">
                        {{ csrf_field() }}

                        {% if errors.any() %}
                            <div class="alert alert-danger">
                                <ul class="m-0">
                                    {% for error in errors.all() %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <input type="hidden" name="token" value="{{ request.route('token') }}">
                        <div class="form-group">
                            <label for="email" class="input-label ">E-Mail Adresse</label>
                            <div class="input-group">
                                <input type="text" class="form-control " name="email" id="email" value="" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="input-label ">Passwort</label>
                            <div class="input-group">
                                <input type="password" class="form-control input-group-input-icon" name="password" id="password" required autocomplete="current-password" value="" />
                                <button type="button" class="btn btn btn-link p-0 inputfield-icon input-group-inside d-none"
                                        data-controller="inputfield/password/toggle" aria-pressed="false">
                                    {% include 'components/icon/icon.twig' with {
                                        'icon': 'eye-close',
                                        'class': 'inputfield-icon-password-invisible'
                                    } %}
                                    {% include 'components/icon/icon.twig' with {
                                        'icon': 'eye-open',
                                        'class': 'inputfield-icon-password-visible'
                                    } %}
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="input-label ">Passwort wiederholen</label>
                            <div class="input-group">
                                <input type="password" value=""
                                       class="form-control input-group-input-icon"
                                       name="password_confirmation" id="password"
                                       required
                                       autocomplete="current-password" />
                                <button type="button" class="btn btn btn-link p-0 inputfield-icon input-group-inside d-none"
                                        data-controller="inputfield/password/toggle" aria-pressed="false">
                                    {% include 'components/icon/icon.twig' with {
                                        'icon': 'eye-close',
                                        'class': 'inputfield-icon-password-invisible'
                                    } %}
                                    {% include 'components/icon/icon.twig' with {
                                        'icon': 'eye-open',
                                        'class': 'inputfield-icon-password-visible'
                                    } %}
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            {% include 'components/recaptcha.twig' %}
                            <input type="submit" name="submit" class="btn btn-primary btn-block" value="Passwort zurücksetzen">
                        </div>
                        <div id="register-link" class="text-right">
                            <a href="{{ route('login') }}" class="text-info">Zurück zum Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

