{% extends './layouts/frontend.twig' %}
{% set title = 'E-Mail Verification' %}
{% set metaDescription = '' %}
{% block title %}{{ title }}{% endblock %}
{% block description %}{{ metaDescription }}{% endblock %}
{% block bodyClass %}{% endblock %}

{% block content %}
    {% include './partials/defaultBanner.twig' with { 'title': title } %}

    <div class="container my-8">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">

                {% if app.session.get('status')== 'verification-link-sent' %}
                    {% include 'components/alert/info.twig' with {
                        'title': 'Bestätigungslink gesendet!',
                        'text': 'Ein neuer Bestätigungslink wurde an die E-Mail-Adresse gesendet, die du bei der Registrierung angegeben hast.'
                    } %}
                {% endif %}

                <form method="POST" action="{{ route('verification.send') }}">
                    {{ csrf_field() }}
                    <div class="form-group">
                        <label for="email" class="input-label ">E-Mail Adresse</label>
                        <div class="input-group">
                            <input type="text" class="form-control " name="email" id="email" value="" required/>
                        </div>
                    </div>
                    <div>
                        {% include 'components/recaptcha.twig' %}
                        <input type="submit" name="submit" class="btn btn-primary btn-block" value="Bestätigungsmail erneut senden">
                    </div>
                </form>
                <div class="form-group mt-2">
                    <a href="{{ route('login') }}">Zurück zum Login</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
