{% extends './layouts/frontend.twig' %}
{% set title = 'Mein Account' %}
{% set metaDescription = '' %}
{% block title %}{{ title }}{% endblock %}
{% block description %}{{ metaDescription }}{% endblock %}
{% block bodyClass %}{% endblock %}

{% block content %}

    {% include './partials/defaultBanner.twig' with { 'title': title } %}
    <div class="container mt-4 mt-lg-8">
        {% if app.session.get('status')== 'password-updated-success' %}
            <div class="row">
                <div class="col-12">
                    {% include 'components/alert/success.twig' with {
                        'title': 'Passwort geändert!',
                        'text': 'Dein Passwort wurde geändert!'
                    } %}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-12">
                <h1>Hallo {{ user.name }}!</h1>
            </div>

            <div class="col-12 col-md-4 mb-2">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Passwort ändern</h5>
                    </div>
                    <div class="card-body">
                        Hier kannst du dein Passwort ändern.<br />

                        <a class="btn btn-primary mt-2"
                           href="{{ route('user.account.password_change.index') }}">
                            Passwort ändern
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Ausloggen</h5>
                    </div>
                    <div class="card-body">
                        Hier kannst du dich ausloggen.<br />

                        <a class="btn btn-danger mt-2"
                           href="{{ route('logout') }}">
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

