<script type="text/javascript" nonce="{{ csp_nonce() }}">
    if (typeof window.cake !== "object") {
        window.cake = {};
    }
    window.cake.recaptchaKey = '{{ config_get('recaptcha.key') }}'
</script>
<input type="hidden" name="recaptcha" data-controller="recaptcha" />
