
{% include 'components/banner/banner.twig' with {
    'title': title,
    'xs': asset('/images/smartphone/Headergrafik_Reiter_600x184.jpg'),
    'sm': asset('/images/tablet/Headergrafik_Reiter_960x184.jpg'),
    'md': asset('/images/tablet-gross/Headergrafik_Reiter_1260x184.jpg'),
    'lg': asset('/images/desktop/Headergrafik_Reiter_1920x200.jpg')
} %}
