
<header class="header" data-controller="header">
    <div class="header-preheader container-responsive">
        <div class="header-brand d-none d-md-block">Lidl EM-Tippspiel</div>
        <ul class="header-brandnav header-list d-none d-md-block" data-controller="header/brandnav" role="navigation" aria-label="LIDL AT Tippspiel">
            <li class="header-list-item ">
                <a href="{{ route('static.terms') }}" title="Teilnahmebedingungen" class="header-list-item-link header-brandnav-link" aria-label="Teilnahmebedingungen">Teilnahmebedingungen</a>
            </li>
            <li class="header-list-item ">
                <a href="{{ route('static.impress') }}" title="Impressum"
                   class="header-list-item-link header-brandnav-link{% if currentRouteName == 'static.impress' %} active{% endif %}"
                   aria-label="Impressum">
                    Impressum
                </a>
            </li>
            <li class="header-list-item ">
                <a href="{{ route('static.privacy-policy') }}" title="Datenschutzinformation"
                   class="header-list-item-link header-brandnav-link{% if currentRouteName == 'static.privacy-policy' %} active{% endif %}"
                   aria-label="Datenschutzinformation">Datenschutzinformation</a>
            </li>
            <li class="header-list-item ">
                <a href="{{ route('static.cookies') }}" class="header-list-item-link header-brandnav-link" aria-label="Cookie-Bestimmungen"  title="Cookie-Bestimmungen">Cookie-Bestimmungen</a>
            </li>
        </ul>

        <div class="header-wrapper">
            <a href="{{ route('home') }}" class="header-logo-wrapper">
                <img src="{{ asset('images/logo.svg') }}" alt="Lidl Logo" class="header-logo"/>
            </a>
            <div class="header-claim d-none d-md-block">Lidl EM-Tippspiel</div>
            <ul class="header-usernavigation header-list" role="navigation" aria-label="User Navigation">

                {% if auth_user() %}
                    <li class="header-list-item ">
                        <a href="{{ route('user.account.index') }}" class="header-list-item-link header-usernavigation-link" aria-label="Account">
                            <div class="header-usernavigation-icon">
                                {% include 'components/icon/icon.twig' with {
                                    'icon': 'user',
                                    'size': 24
                                } %}
                            </div>
                            <span class="header-usernavigation-title d-block">Konto</span></a>
                    </li>
                    <li class="header-list-item ">
                        <a href="{{ route('logout') }}" class="header-list-item-link header-usernavigation-link text-red" aria-label="Logout">
                            <div class="header-usernavigation-icon">
                                {% include 'components/icon/icon.twig' with {
                                    'icon': 'user',
                                    'size': 24
                                } %}
                            </div>
                            <span class="header-usernavigation-title d-block">Logout</span></a>
                    </li>
                {% endif %}

                {% if auth_guest() %}
                    <li class="header-list-item ">
                        <a href="{{ route('register') }}"
                           class="header-list-item-link header-usernavigation-link {% if app.request.requestUri == route('register') %}is-active{% endif %}"
                           aria-label="Registrieren">
                            <div class="header-usernavigation-icon">
                                {% include 'components/icon/icon.twig' with {
                                    'icon': 'user-eighteen-plus',
                                    'title': 'Registrieren',
                                    'size': 24
                                } %}
                            </div>
                            <span class="header-usernavigation-title d-block">Registrieren</span>
                        </a>
                    </li>
                    <li class="header-list-item ">
                        <a href="{{ route('login') }}" class="header-list-item-link header-usernavigation-link" aria-label="Login">
                            <div class="header-usernavigation-icon">
                                {% include 'components/icon/icon.twig' with {
                                    'icon': 'user',
                                    'title': 'Login',
                                    'size': 24
                                } %}
                            </div>
                            <span class="header-usernavigation-title d-block">Login</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
            <div class="header-navigation-burgermenu">
                <button class="hamburger hamburger--squeeze" data-controller="header/burgermenu" aria-pressed="false">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                    <div class="header-navigation-burgermenu-text">Menue</div>
                </button>
            </div>
        </div>
        <nav class="header-navigation" data-controller="header/navigation" aria-label="Main">
            <a href="#" class="header-navigation-back" data-controller="header/navigation/back">
                {% include 'components/icon/icon.twig' with {
                    'icon': 'undo',
                    'size': 2
                } %}
                Back-Function</a>
            <button class="btn btn-slider btn-header-navigation-slider btn-header-navigation-slider-previous d-none" data-toggle="header/navigation/menu/main/slider/prev">
                {% include 'components/icon/icon.twig' with {
                    'icon': 'arrow-left',
                    'size': 2
                } %}
            </button>
            <button class="btn btn-slider btn-header-navigation-slider btn-header-navigation-slider-next d-none" data-toggle="header/navigation/menu/main/slider/next">
                {% include 'components/icon/icon.twig' with {
                    'icon': 'arrow-right',
                    'size': 2
                } %}
            </button>

            <ul class="header-list header-navigation-list" data-controller="header/navigation/menu" data-identifier="header/navigation/main" data-active="true">

                {% if auth_user() %}
                <li class="header-navigation-list-item">
                    <a href="{{ route('static.wins') }}"
                       class="header-navigation-link{% if currentRouteName == 'static.wins' %} active{% endif %}">
                        Gewinne
                    </a>
                </li>
                {% endif %}
                <li class="header-navigation-list-item">
                    <a href="{{ route('game_schedule') }}"
                       class="header-navigation-link{% if currentRouteName == 'game_schedule' %} active{% endif %}">
                        Spielplan
                    </a>
                </li>

                {% if auth_user() %}
                    <li class="header-navigation-list-item">
                        <a href="{{ route('tipp.overview') }}"
                           class="header-navigation-link{% if currentRouteName == 'tipp.overview' %} active{% endif %}">Tippübersicht</a>
                    </li>
                    <li class="header-navigation-list-item">
                        <a href="{{ route('tipp.game') }}"
                           class="header-navigation-link{% if currentRouteName == 'tipp.game' %} active{% endif %}">
                            Tippabgabe
                        </a>
                    </li>
                {% endif %}

                <li class="header-navigation-list-item">
                    <a href="{{ route('highscore') }}"
                       class="header-navigation-link{% if currentRouteName == 'highscore' %} active{% endif %}">Highscore
                    </a>
                </li>
                <li class="header-navigation-list-item">
                    <a href="{{ route('static.rules') }}"
                       class="header-navigation-link{% if currentRouteName == 'static.rules' %} active{% endif %}">Regeln
                    </a>
                </li>

                {% if auth_user().isAdmin() %}
                    <li class="header-navigation-list-item">
                        <a href="{{ route('admin.index') }}"
                           data-controller="header/navigation/link"
                           data-target="header/navigation/main/admin"
                           class="header-navigation-link{% if currentRouteName starts with 'admin.' %} active{% endif %}">
                            Administration
                            {% include 'components/icon/icon.twig' with {
                                'icon': 'arrow-right',
                                'class': 'header-navigation-link-icon'
                            } %}
                        </a>
                    </li>
                {% endif %}

                <li class="header-navigation-list-item d-md-none">
                    <a href="{{ route('static.terms') }}"
                       title="Teilnahmebedingungen"
                       class="header-navigation-link {% if currentRouteName == 'static.terms' %} active{% endif %}"
                       aria-label="Teilnahmebedingungen"
                    >Teilnahmebedingungen</a>
                </li>

                <li class="header-navigation-list-item d-md-none">
                    <a href="{{ route('static.impress') }}"
                       title="Impressum"
                       class="header-navigation-link {% if currentRouteName == 'static.impress' %} active{% endif %}"
                       aria-label="Impressum"
                    >Impressum</a>
                </li>

                <li class="header-navigation-list-item d-md-none">
                    <a href="{{ route('static.privacy-policy') }}"
                       title="Datenschutzinformation"
                       class="header-navigation-link {% if currentRouteName == 'static.privacy-policy' %} active{% endif %}"
                       aria-label="Datenschutzinformation"
                    >Datenschutzinformation</a>
                </li>

                <li class="header-navigation-list-item d-md-none">
                    <a href="{{ route('static.cookies') }}"
                       title="Cookie-Bestimmungen"
                       class="header-navigation-link {% if currentRouteName == 'static.cookies' %} active{% endif %}"
                       aria-label="Cookie-Bestimmungen"
                    >Cookie-Bestimmungen</a>
                </li>
            </ul>

            {% set showAdmin = 0 %}
            {% if currentRouteName starts with 'admin.' %}
                {% set showAdmin = 1 %}
            {% endif %}

            {% set adminClass = 'd-none' %}
            {% if showAdmin == 1 %}
                {% set adminClass = '' %}
            {% endif %}

            <button
                class="btn btn-slider btn-header-subnavigation-slider btn-header-navigation-slider-previous {{ adminClass }}"
                data-toggle="header/navigation/menu/sub/slider/prev">
                {% include 'components/icon/icon.twig' with {
                    'icon': 'arrow-left',
                    'title': 'Previous Slide',
                    'size': 2
                } %}
            </button>
            <button
                class="btn btn-slider btn-header-subnavigation-slider btn-header-navigation-slider-next {{ adminClass }}"
                data-toggle="header/navigation/menu/sub/slider/next">
                {% include 'components/icon/icon.twig' with {
                    'icon': 'arrow-right',
                    'title': 'Next Slide',
                    'size': 2
                } %}
            </button>
            <ul class="header-list header-subnavigation-list {{ adminClass }}"
                data-controller="header/navigation/menu"
                data-identifier="header/navigation/main/admin">
                <li class="header-subnavigation-list-item header-subnavigation-list-head-item">
                    <a href="{{ route('admin.index') }}" class="header-subnavigation-link{% if currentRouteName starts with 'admin.' %} active{% endif %}"
                       data-controller="header/navigation/link">
                        <span class="header-subnavigation-head-link">Administration</span>
                        <span
                            class="badge badge-primary badge-small ml-1 header-subnavigation-badge">Direct
                            access</span>
                    </a>
                </li>
                <li class="header-subnavigation-list-item">
                    <a href="{{ route('admin.users.index') }}" class="header-subnavigation-link{% if currentRouteName starts with 'admin.users' %} active{% endif %}"
                       data-controller="header/navigation/link">Userverwaltung</a>
                </li>
                <li class="header-subnavigation-list-item">

                    {% set isGames = 0 %}
                    {% if currentRouteName starts with 'admin.games' %}
                        {% set isGames = 1 %}
                    {% endif %}
                    {% if currentRouteName starts with 'admin.schedules' %}
                        {% set isGames = 1 %}
                    {% endif %}
                    {% if currentRouteName starts with 'admin.teams' %}
                        {% set isGames = 1 %}
                    {% endif %}
                    {% if currentRouteName starts with 'admin.questions' %}
                        {% set isGames = 1 %}
                    {% endif %}
                    {% if currentRouteName starts with 'admin.winning_rounds' %}
                        {% set isGames = 1 %}
                    {% endif %}
                    {% if currentRouteName starts with 'admin.point_rules' %}
                        {% set isGames = 1 %}
                    {% endif %}

                    <a href="{{ route('admin.games') }}" class="header-subnavigation-link{% if isGames %} active{% endif %}"
                       data-controller="header/navigation/link">Spielverwaltung</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
