<div class="row">
    <div class="col-12 col-lg-4 mb-2">
        <article class="card teaser-card ">
            {% include 'components/image/image.twig' with {
                'alt': 'Platz 1 bis 3',
                'class': 'card-img',
                'xs': asset('/images/smartphone/Gewinnkacheln_600x400_1.jpg'),
                'sm': asset('/images/tablet/Gewinnkachel_960x400_1.jpg'),
                'md': asset('/images/tablet-gross/Gewinnkachel_1260x400_1.jpg'),
                'lg': asset('/images/desktop/3xGewinnkacheln_410x280_1.jpg')
            } %}
            {#
            <header class="card-img-overlay teaser-card-img-overlay">
                <h2 class="teaser-card-title">Platz 1 bis 3</h2>
                <h3 class="teaser-card-subhead">Die Gewinner erhalten einen Samsung TV von Panasonic ;)</h3>
            </header>
            #}
        </article>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mb-2">
        <article class="card teaser-card ">
            {% include 'components/image/image.twig' with {
                'alt': 'Platz 3-10',
                'class': 'card-img',
                'xs': asset('/images/smartphone/Gewinnkacheln_600x400_2.jpg'),
                'sm': asset('/images/tablet/Gewinnkachel_480x400_2.jpg'),
                'md': asset('/images/tablet-gross/Gewinnkachel_640x400_2.jpg'),
                'lg': asset('/images/desktop/3xGewinnkacheln_410x280_2.jpg')
            } %}
            {#
            <header class="card-img-overlay teaser-card-img-overlay">
                <h2 class="teaser-card-title">Platz 2</h2>
                <h3 class="teaser-card-subhead">Die Gewinner erhalten einen Samsung EarPod</h3>
            </header>
            #}
        </article>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mb-2">
        <article class="card teaser-card ">
            {% include 'components/image/image.twig' with {
                'alt': 'Platz 10-15',
                'class': 'card-img',
                'xs': asset('/images/smartphone/Gewinnkacheln_600x400_3.jpg'),
                'sm': asset('/images/tablet/Gewinnkachel_480x400_3.jpg'),
                'md': asset('/images/tablet-gross/Gewinnkachel_640x400_3.jpg'),
                'lg': asset('/images/desktop/3xGewinnkacheln_410x280_3.jpg')
            } %}
            {#
            <header class="card-img-overlay teaser-card-img-overlay">
                <h2 class="teaser-card-title">Platz 3</h2>
                <h3 class="teaser-card-subhead">Die Gewinner erhalten einen Samsung EarPod</h3>
            </header>
            #}
        </article>
    </div>
</div>
