{% extends './layouts/frontend.twig' %}
{% set title = 'Passwort ändern' %}
{% set metaDescription = '' %}
{% block title %}{{ title }}{% endblock %}
{% block description %}{{ metaDescription }}{% endblock %}
{% block bodyClass %}{% endblock %}

{% block content %}

    {% include './partials/defaultBanner.twig' with { 'title': title } %}

    <div class="container mt-4 mt-lg-8">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                <form method="POST" action="{{ route('user.account.password_change.save') }}">
                    {{ csrf_field() }}
                    {% if errors.any() %}
                        <div class="alert alert-danger">
                            <ul class="m-0">
                                {% for error in errors.all() %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="old_password" class="input-label ">Altes Passwort</label>
                        <div class="input-group">
                            <input data-controller="inputfield/password"
                                   type="password"
                                   class="form-control input-group-input-icon"
                                   name="old_password"
                                   id="old_password" value="" required />
                            <button type="button" class="btn btn btn-link p-0 inputfield-icon input-group-inside d-none"
                                    data-controller="inputfield/password/toggle" aria-pressed="false">
                                {% include 'components/icon/icon.twig' with {
                                    'icon': 'eye-close',
                                    'class': 'inputfield-icon-password-invisible'
                                } %}
                                {% include 'components/icon/icon.twig' with {
                                    'icon': 'eye-open',
                                    'class': 'inputfield-icon-password-visible'
                                } %}
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="input-label ">Passwort</label>
                        <div class="input-group">
                            <input data-controller="inputfield/password" type="password" class="form-control input-group-input-icon" name="password" id="password" required autocomplete="current-password" />
                            <button type="button" class="btn btn btn-link p-0 inputfield-icon input-group-inside d-none"
                                    data-controller="inputfield/password/toggle" aria-pressed="false">
                                {% include 'components/icon/icon.twig' with {
                                    'icon': 'eye-close',
                                    'class': 'inputfield-icon-password-invisible'
                                } %}
                                {% include 'components/icon/icon.twig' with {
                                    'icon': 'eye-open',
                                    'class': 'inputfield-icon-password-visible'
                                } %}
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password_confirmation" class="input-label ">Passwort-Bestätigung</label>
                        <div class="input-group">
                            <input data-controller="inputfield/password" type="password" class="form-control input-group-input-icon" name="password_confirmation" id="password_confirmation" required autocomplete="current-password" />
                            <button type="button" class="btn btn btn-link p-0 inputfield-icon input-group-inside d-none"
                                    data-controller="inputfield/password/toggle" aria-pressed="false">
                                {% include 'components/icon/icon.twig' with {
                                    'icon': 'eye-close',
                                    'class': 'inputfield-icon-password-invisible'
                                } %}
                                {% include 'components/icon/icon.twig' with {
                                    'icon': 'eye-open',
                                    'class': 'inputfield-icon-password-visible'
                                } %}
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        {% include 'components/recaptcha.twig' %}
                        <input type="submit" name="submit" class="btn btn-primary btn-block" value="Neues Passwort speichern">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

