{% extends './layouts/frontend.twig' %}
{% set title = 'Cookie-Bestimmungen' %}
{% set metaDescription = '' %}
{% block title %}{{ title }}{% endblock %}
{% block description %}{{ metaDescription }}{% endblock %}

{% block content %}
    <script data-cookieconsent="ignore">
        window.addEventListener('CookiebotOnDialogInit', function (e) {
            setTimeout(function() {
                Cookiebot.hide();
            }, 0);
            setTimeout(function() {
                Cookiebot.hide();
            }, 1000);
        }, false);
    </script>
    {% include './partials/defaultBanner.twig' with { 'title': title } %}
    <div class="container mt-4 mt-lg-8">
        <div class="row">
            <div class="col-12 text-center">
                <h1>{{ title }}</h1>
            </div>

            <script data-cookieconsent="ignore" id="CookieDeclaration" src="https://consent.cookiebot.com/f3ce613c-89b2-4981-8b65-61d66c7d7d7b/cd.js" type="text/javascript" async></script>
        </div>
    </div>


{% endblock %}
