{% extends './layouts/frontend.twig' %}
{% set title = 'Impressum' %}
{% set metaDescription = 'Impressum' %}
{% block title %}{{ title }}{% endblock %}
{% block description %}{{ metaDescription }}{% endblock %}

{% block cookiebot %}{% endblock %}

{% block content %}
    {% include './partials/defaultBanner.twig' with { 'title': title } %}
    <div class="container mt-4 mt-lg-8">
        <div class="row">
            <div class="col-12">
                <h1>{{ title }}</h1>
            </div>

            <div class="col-12">
                <p>
                    <b>Medieninhaber, Herausgeber (Mediengesetz) und Anbieter (E-Commerce-Gesetz) dieser Website ist:</b><br>
                    Lidl Österreich GmbH<br>
                    Handel mit Waren aller Art<br>
                    Zweigniederlassung Salzburg, Unter der Leiten 11, 5020 Salzburg<br>
                    Firmenbuchgericht Salzburg, FN 131556s<br>
                    UID-Nummer: ATU 37893801<br>
                    Tel.: 0800 / 500 810<br>
                    Mail: <a href="mailto:kundenservice@lidl.at">kundenservice@lidl.at</a><br>
                    <br>
                    Mitglied der Österreichischen Wirtschaftskammern<br>
                    Berufsrecht: Gewerbeordnung, abrufbar unter www.ris.bka.gv.at<br>
                    Gewerbebehörde: Magistrat Salzburg<br>
                    <br>
                    Die Lidl Österreich GmbH wird stets durch zwei Geschäftsführer vertreten. Geschäftsführer der Lidl Österreich GmbH sind unter anderem Alessandro Wolf und Mag. Wolfgang Radics.<br>
                    <b>Grundlegende inhaltliche Richtung</b><br>
                    - Website zur Durchführung des Lidl EM-Tippspiels<br>
                    Firmensitz: 74172 Neckarsulm (DE), Registergericht Stuttgart, HRB 105671
                </p>
            </div>
        </div>
    </div>
{% endblock %}
