{% extends './layouts/frontend.twig' %}
{% set title = 'Datenschutzinformation' %}
{% set metaDescription = '' %}
{% block title %}{{ title }}{% endblock %}
{% block description %}{{ metaDescription }}{% endblock %}

{% block cookiebot %}{% endblock %}

{% block content %}
    {% include './partials/defaultBanner.twig' with { 'title': title } %}
    <div class="container mt-4 mt-lg-8">
        <div class="row">
            <div class="col-12">
                <h1>Datenschutzinformation</h1>

                <p>
                Wir freuen uns, dass Sie sich für den Datenschutz auf unserer Website interessieren. Beim Besuch unserer Website möchten wir, dass Sie sich wohl und sicher fühlen und unsere Umsetzung des Datenschutzes als kundenorientiertes Qualitätsmerkmal sehen.
                </p><p>
                Die folgenden Datenschutzhinweise informieren Sie über Art und Umfang der Verarbeitung Ihrer personenbezogenen Daten durch die Lidl Österreich GmbH. Personenbezogene Daten sind Informationen, die Ihrer Person direkt oder mittelbar zuzuordnen sind bzw. zugeordnet werden können. Als gesetzliche Grundlage für den Datenschutz dient insbesondere die Datenschutz-Grundverordnung (DSGVO).
                </p>

                <h2>1. Aufruf unserer Website</h2>
                <p>
                    Mit <b>Aufruf der Webseite</b> der Lidl Reservierungsplattform werden verschiedene Informationen zwischen Ihrem Endgerät und den Servern ausgetauscht. Hierbei kann es sich auch um personenbezogene Daten handeln.</p>

                <p class="mb-0">
                    <u>Welche Daten werden verarbeitet:</u><br>
                    Beim Aufrufen unserer Webseite werden durch den auf Ihrem Endgerät zum Einsatz kommenden Browser automatisch und ohne Ihr Zutun</p>
                <ul>
                    <li>die IP-Adresse des anfragenden internetfähigen Gerätes,</li>
                    <li>das Datum und die Uhrzeit des Zugriffs,</li>
                    <li>der Name und die URL der abgerufenen Datei,</li>
                    <li>die Webseite/ Applikation, von der aus der Zugriff erfolgte (Referrer-URL),</li>
                    <li>der von Ihnen verwendete Browser und ggfs. das Betriebssystem Ihres internetfähigen Rechners
                    </li></ul>

                <p class="mb-0">an den Server unserer Webseite gesendet und temporär in einem sogenannten Log-File <b>für
                        folgende Zwecke</b> gespeichert: </p>
                <br>
                <u>Zwecke der Datenverarbeitung:</u>
                <ul>
                    <li>Abwehrmaßnahmen (Hack, DDOS)</li>
                </ul>

                <p>
                    <u>Rechtsgrundlage</u><br>
                    Die Rechtsgrundlage für die <b>Verarbeitung der IP-Adresse</b> ist Artikel 6 Absatz 1 Buchstabe f) DSGVO. Unser berechtigtes Interesse folgt aus den oben aufgelisteten Zwecken der Datenverarbeitung.<br>
                    <br>
                    <u>Empfänger/ Kategorien von Empfängern:</u><br>
                    Eine Weitergabe der Daten an Dritte schließen wir grundsätzlich aus. Ausnahmsweise werden Daten in unserem Auftrag von Auftragsverarbeitern verarbeitet. Diese sind jeweils sorgfältig ausgesucht, werden von uns zudem auditiert und vertraglich gemäß Artikel 28 DSGVO verpflichtet.<br><br>
                    <u>Speicherdauer/ Kriterien für Festlegung der Speicherdauer:</u><br>
                    Daten werden für den Zeitraum des Turnierablaufs der Fußball-Europameisterschaft 2021, sowie für die benötigte Zeit im Anschluss an das Turnier zur Auswertung der Gewinner, gespeichert und danach automatisch gelöscht.
                </p>


                <h2>2. Teilnahme am Lidl EM-Tippspiel </h2>
                <p>
                    <u>Welche Daten werden verarbeitet:</u><br>
                    Im Zuge des Lidl EM-Tippspiels wird Ihre E-Mail-Adresse, sowie ihr gewählter Username, verarbeitet. Im Falle des Gewinns werden zusätzlich Kontaktdaten zur Übermittlung der Preise erhoben.
                </p>

                <p>
                    <u>Zweck der Datenverarbeitung:</u><br>
                    Wir verwenden Ihre Daten ausschließlich zweckgebunden, um Ihnen für die Teilnahme am EM-Tippspiel relevante Daten zur Verfügung zu stellen bzw. um Ihnen einen reibungslosen, funktionsfähigen Tippspielservice (Durchführung und Abwicklung des Tippspiels) zur Verfügung zu stellen.
                </p>

                <p><u>Rechtsgrundlage:</u><br>
                    Rechtsgrundlage für die Datenverarbeitung ist Artikel 6 Absatz 1 Buchstabe b) DSGVO (Teilnahme am Lidl EM-Tippspiel). Ihre Daten sind für die Durchführung des Gewinnspiels erforderlich. </p>

                <p>
                    <u>Empfänger/ Kategorien von Empfängern:</u><br>
                    Eine Weitergabe der Daten an Dritte schließen wir grundsätzlich aus. Ausnahmsweise werden Daten in unserem Auftrag von Auftragsverarbeitern verarbeitet. Diese sind jeweils sorgfältig ausgesucht, werden von uns zudem auditiert und vertraglich gemäß Artikel 28 DSGVO verpflichtet.
                </p>
                <p>
                    <u>Speicherdauer/ Kriterien für Festlegung der Speicherdauer:</u><br>
                    Nach Beendigung des Gewinnspiels werden die personenbezogenen Daten im Rahmen der gesetzlichen Bestimmungen gelöscht.
                </p>

                <h2>3. Verwendung von Cookies</h2>
                <p>
                    Wir setzen auf unserer Website auf Grundlage des Artikel 6 Absatz 1 Buchstabe f) DSGVO sogenannte Cookies ein. Unser Interesse, unsere Website zu optimieren bzw. Sicherheitsaspekte zu gewährleisten, ist dabei als berechtigt im Sinne der vorgenannten Vorschrift anzusehen.<br>
                    Bei Cookies handelt es sich um kleine Dateien die auf Ihrem Endgerät (Laptop, Tablet, Smartphone o.ä.) gespeichert werden, wenn Sie unsere Website besuchen. Cookies richten auf Ihrem Endgerät keinen Schaden an, enthalten keine Viren, Trojaner oder sonstige Schadsoftware. In dem Cookie werden Informationen abgelegt, die sich jeweils im Zusammenhang mit dem spezifisch eingesetzten Endgerät ergeben. Dies bedeutet jedoch nicht, dass wir dadurch unmittelbar Kenntnis von Ihrer Identität erhalten. Der Einsatz von Cookies dient einerseits dazu, die Nutzung unseres Angebots für Sie angenehmer zu gestalten. So setzen wir sogenannte Session-Cookies ein, um zu erkennen, dass Sie sich bereits in Ihrem Kundenkonto angemeldet haben. Diese werden nach Verlassen unserer Website automatisch gelöscht <br>
                    Eine Übersicht der eingesetzten Cookies mit weiteren Informationen (z.B. zur Speicherdauer) finden Sie in unserer <a href="/cookies">Cookies Übersicht</a>.</p>
                <h2>4. Ihre Betroffenenrechte</h2>
                <p class="mb-0">
                    Bei Vorliegen der jeweiligen gesetzlichen Voraussetzungen stehen Ihnen die folgenden Rechte zu:</p>
                <ul>
                    <li>Recht auf <b>Auskunft</b> über Ihre bei uns gespeicherten personenbezogenen Daten gemäß Artikel 15 DSGVO,</li>
                    <li>Recht auf <b>Berichtigung</b> unrichtiger oder auf Vervollständigung unvollständiger Daten gemäß Artikel 16 DSGVO,</li>
                    <li>Recht auf <b>Löschung</b> Ihrer bei uns gespeicherten Daten gemäß Artikel 17 DSGVO,</li>
                    <li>Recht auf <b>Einschränkung</b> der Verarbeitung Ihrer Daten gemäß Artikel 18 DSGVO, </li>
                    <li>Recht auf <b>Datenübertragbarkeit</b> gemäß Artikel 20 DSGVO,</li>
                    <li><b>Widerspruchsrecht</b> nach Artikel 21 DSGVO,</li>
                    <li><b>Beschwerderecht</b>: Es steht Ihnen darüber hinaus jederzeit ein Recht zur Beschwerde bei der österreichischen Datenschutzbehörde zu.</li>
                </ul>

                <br>
                <h2>5. Verantwortlicher im Sinne des Art. 4 Nr. 7 DSGVO</h2>
                <p>
                    Lidl Österreich GmbH<br>
                    Zweigniederlassung Salzburg<br>
                    Unter der Leiten 11<br>
                    5020 Salzburg<br>
                    <br>
                    Firmenbuchgericht Salzburg, FN 131556s<br>
                    Tel.: 0800 – 500 810<br>
                    Mail: <a href="mailto:kundenservice@lidl.at">kundenservice@lidl.at</a><br>
                </p>
                <h2>6. Kontaktdaten des betrieblichen Datenschutzbeauftragten</h2>
                <p>Lidl Österreich GmbH<br>
                    Datenschutzbeauftragter<br>
                    Unter der Leiten 11<br>
                    5020 Salzburg<br>
                    <br>
                    <a href="mailto:datenschutz@lidl.at">datenschutz@lidl.at</a></p>


            </div>
        </div>
    </div>
{% endblock %}
