{% extends './layouts/frontend.twig' %}
{% set title = 'Regeln' %}
{% set metaDescription = '' %}
{% block title %}{{ title }}{% endblock %}
{% block description %}{{ metaDescription }}{% endblock %}

{% block content %}
    {% include './partials/defaultBanner.twig' with { 'title': title } %}
    <div class="container mt-4 mt-lg-8">
        <div class="row">
            <div class="col-12 text-center">
                <h1>{{ title }}</h1>
            </div>

            <div class="col-12">
                <p>Als Teilnehmer des Lidl EM-Tippspiels kannst du (im Zeitraum vom 18.05.2021 – 11.07.2021) für jede Begegnung der Fußball-Europameisterschaft 2021 deine persönliche Einschätzung des Endergebnisses bis eine Minute vor Spielbeginn tippen und ändern, um Punkte zu sammeln. </p>
                <p class="mb-0">Punktevergabe:</p>
                <ul>
                    <li>Für die richtige Tendenz (Sieg, Unentschieden, Niederlage) nach regulärer Spielzeit erhältst du 2 Punkte für deine Gesamtwertung.</li>
                    <li>Für das exakte Endergebnis (inkl. Torwette) nach regulärer Spielzeit erhältst du 4 Punkte für deine Gesamtwertung.</li>
                </ul>

                <p class="mb-0">Ausschließlich  vor Turnierbeginn kannst du zusätzlich Bonusfragen beantworten:</p>
                <ul>
                    <li>Sag den Europameister voraus und sichere dir 10 Extrapunkte für deine Gesamtwertung.</li>
                    <li>Für einen richtigen Tipp der Mannschaft, die den Torschützenkönig des Turniers stellt, kannst du weitere 10 Extrapunkte sammeln. </li>
                </ul>

                <p>Das Gesamtranking wird jeweils im Laufe des nachfolgenden Turniertages, vor Beginn der nächsten Spiele, aktualisiert.<br />
                    Die 15 bestplatzierten Teilnehmer (siehe Gesamtranking) bekommen nach Abschluss des Turniers, je nach Platzierung, ihren Gewinn. Bei Punktegleichheit mehrerer Teilnehmer werden die Gewinner per Losverfahren ermittelt.<br /><br />
                    Die Gewinner werden, nach Abschluss des Turniers, von einem Mitarbeiter des Lidl-Teams per E-Mail kontaktiert.

                </p>
            </div>
        </div>
    </div>
{% endblock %}
