{% extends './layouts/frontend.twig' %}
{% set title = 'Teilnahmebedingungen' %}
{% set metaDescription = '' %}
{% block title %}{{ title }}{% endblock %}
{% block description %}{{ metaDescription }}{% endblock %}

{% block content %}
    {% include './partials/defaultBanner.twig' with { 'title': title } %}
    <div class="container mt-4 mt-lg-8">
        <div class="row">
            <div class="col-12 text-center">
                <h1>{{ title }}</h1>
            </div>
            <div class="col-12">
                <p>Aktionszeitraum: 18.05.2021 – 11.07.2021</p>
                <p>
                    Veranstaltet wird das EM-Tippspiel im Rahmen der Fußball-Europameisterschaft 2021 von der Lidl Österreich GmbH, Unter der Leiten 11, 5020 Salzburg, Sitz in Neckarsulm, Registergericht Stuttgart HRB 105671, Landesgericht Salzburg FN 131556s. Teilnahmeberechtigt sind natürliche Personen mit Wohnsitz in Österreich. Durch die Teilnahme werden die Teilnahmebedingungen akzeptiert sowie ein Mindestalter von 18 Jahren bestätigt. Eine Teilnahme im Namen Dritter ist nicht erlaubt.</p>
                <p><strong>1. Nutzung und Ablauf des EM-Tippspiels</strong><br/>
                    Um am Gewinnspiel teilnehmen zu können, müssen Sie auf www.lidl-tps.at Ihre E-Mail-Adresse angeben. Die von Ihnen angegebene E-Mail-Adresse darf noch keinem anderen Useraccount zugeordnet sein. Zusätzlich bedarf es der Angabe eines Usernamens.
                </p>
                <p>
                    Im Rahmen des Tippspiels können Sie Ihre Tipps im Zeitraum vom 18.05.2021 bis zum 11.07.2021 abgeben.
                    Hierfür muss in einem ersten Schritt die Website besucht und eine Registrierung mittels Eingabe von E-Mail-Adresse und Username durchgeführt werden. Der Username dient der Abbildung des Teilnehmers im Gesamtranking. Zusätzlich ist eine Zustimmung zu den Datenschutzrichtlinien sowie den Teilnahmebedingungen erforderlich.
                    <br /><br />
                    Anschließend erhalten Sie eine E-Mail inkl. Bestätigungslink, welcher innerhalb von 24 Stunden bestätigt werden muss (Double Opt-In Verfahren), ansonsten verfällt die Gültigkeit der Registrierung.
                    <br /><br />
                    Durch das Bestätigen des Bestätigungslinks ist Ihre Registrierung abgeschlossen und Sie können den Service des Tippspiels in Anspruch nehmen.<br />
                    Es ist verboten, eine E-Mail-Adresse oder sonstige Kontaktdaten anzugeben, die nicht Ihnen gehören. Danach können (ausschließlich vor Turnierbeginn) Zusatzpunkte gesammelt werden, indem folgende Bonusfragen beantwortet werden:<br />
                1. Welche Mannschaft wird EM-Sieger? (10 Bonuspunkte)<br />
                2. Welche Mannschaft stellt den Torschützenkönig? (10 Bonuspunkte)
                    <br /><br />
                    Jeder Teilnehmer kann zu jedem Spiel der Fußball-Europameisterschaft bis zum Spielbeginn einen Tipp hinsichtlich des Endergebnisses der jeweiligen Begegnung abgeben. Folgende Punktevergabe findet nach regulärer Spielzeit (90 Spielminuten) statt:<br />
               1. Richtige Tendenz (Sieg, Unentschieden, Niederlage) getippt: 2 Punkte<br />
               2. Genaues Endergebnis (inkl. Torwette) getippt: 4 Punkte.
                    <br /><br />
                    Anhand dieser Punktevergabe werden den Teilnehmern je nach Richtigkeit der abgegebenen Tipps die entsprechenden Punkte zugeteilt. Die Teilnehmer werden in einem Gesamtranking, auf Basis der gesammelten Punkte, dargestellt. Die Aktualisierung der Punktestände erfolgt jeweils im Laufe des nachfolgenden Turniertages, vor Beginn der nächsten Turnierspiele.<br /><br />
                    Nach Ende des Turniers (11.07.2021) stehen die Sieger des Lidl EM-Tippspiels anhand des Gesamtrankings fest. Rankingkriterium sind hierbei die über den gesamten Verlauf des Turniers hinweg gesammelten Punkte. Die 15 Teilnehmer mit der höchsten gesammelten Punkteanzahl erhalten die unter Punkt 3. aufgelisteten Gewinne.<br /><br />
                    Bei Punktegleichheit mehrerer Teilnehmer werden die Gewinner per Losverfahren ermittelt.
                    <br /><br />
                    Nach der Auswertung werden die Gewinner mittels der registrierten E-Mail-Adresse hinsichtlich eines Kontaktdatenaustauschs zur Übermittlung der Gewinne verständigt. Sollte sich ein/e Gewinner/in innerhalb von 21 Tagen nach der Benachrichtigung nicht melden, so verfällt dadurch der Anspruch auf den Gewinn sowie die Teilnahme. In einem solchen Fall würde der Teilnehmer mit der nächsthöheren Punktezahl kontaktiert werden. Eine Auszahlung der Preise in bar ist nicht möglich.
                    <br /><br />
                    Sollte es zu Fehlern/Störungen des Systems oder der Technik kommen (z. B. Serverschaden, Hackerangriff, Fraud etc.), welche eine ordnungsgemäße und faire Gewinnerermittlung nicht mehr ermöglichen (z. B. Beeinflussung des Punktestands bzw. Auswirkung auf das Spielerranking), behält sich Lidl das Recht vor, eine Einstellung des Spiels bzw. der Punktevergabe vorzunehmen. In diesem Fall würden die Gewinner, unter allen bis zum Zeitpunkt der Störung registrierten Kunden, mittels Losverfahren ermittelt werden. Einen derartigen Vorfall inkl. weiterer Details zur Notfallziehung würde Lidl auf der EM-Tippspielseite entsprechend kenntlich machen.</p>
                <p>
                    <strong>2. Allgemeines</strong><br/>
                    Gewinne sind nicht an Dritte übertragbar. Der Rechtsweg ist ausgeschlossen. Die Lidl Österreich GmbH haftet generell nicht für die Richtigkeit und Vollständigkeit sämtlicher Angaben. Der Teilnehmer hat kein Recht auf Wiedergutmachung, Schadenersatz oder sonstige Ansprüche gegenüber der Lidl Österreich GmbH.
                </p>
                <strong>3. Auflistung aller Gewinne</strong><br />

                <ul>
                    <li>3x F2 Stand Up Paddle (Platz 1 bis Platz 3) im Wert von je € 298,39</li>
                    <li>2x vierflammiger Gasgrill „tepro“ (Platz 4 und Platz 5) im Wert von je € 229,00</li>
                    <li>10x Lidl Gutschein (Platz 6 bis Platz 15) im Wert von je € 100,00</li>
                </ul>
                <br />
                <strong>4. Änderungen der Teilnahmebedingungen</strong><br />
                <p>
                    Wir dürfen diese Teilnahmebedingungen ändern, soweit die Änderung unseren berechtigten Interessen dient, insbesondere einer besseren Leistungserbringung, und wir die Interessen der Nutzer angemessen berücksichtigen. Lidl wird die Nutzer informieren und zur Bestätigung der Teilnahmebedingungen auffordern.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
