{% extends './layouts/frontend.twig' %}
{% set title = 'LIDL EM Tippspiel' %}
{% set metaDescription = 'Herzlich willkommen beim Lidl EM-Tippspiel zur Fußball-Europameisterschaft 2021!' %}
{% block title %}{{ title }}{% endblock %}
{% block description %}{{ metaDescription }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <article class="card teaser-card ">
                    {% include 'components/image/image.twig' with {
                        'alt': 'LIDL EM Tippspiel',
                        'class': 'card-img',
                        'xs': asset('/images/smartphone/Headergrafik_Startseite_600x400.jpg'),
                        'sm': asset('/images/tablet/Headergrafik_Startseite_960x400.jpg'),
                        'md': asset('/images/tablet-gross/Headergrafik_Startseite_1260x400.jpg'),
                        'lg': asset('/images/desktop/Headergrafik_Startseite_1260x400.jpg')
                    } %}
                </article>
            </div>
        </div>

    </div>
    <div class="container mt-8">
        <div class="row">
            <div class="text-center col-12">
                <h1>Herzlich willkommen beim Lidl EM-Tippspiel zur Fußball-Europameisterschaft 2021!</h1>
                <p>Das EM-Tippspiel für Fußballfans und solche, die es noch werden wollen.<br />
                   Jetzt ganz einfach mitmachen: anmelden, Tipps abgeben, mitfiebern & großartige Preise gewinnen!<br />
                    Genauere Details zum Ablauf findest du im <a href="{{ route('static.rules') }}" title="Regelwerk">Regelwerk</a>!</p>
            </div>

            <div class="col-12">
                <header class="section-head mb-4">
                    <h2 class="section-head-title">Super Gewinne warten auf dich!</h2>
                </header>
                {% include './partials/win_row.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
