{% extends './layouts/frontend.twig' %}
{% set title = 'Gewinne' %}
{% set metaDescription = '' %}
{% block title %}{{ title }}{% endblock %}
{% block description %}{{ metaDescription }}{% endblock %}

{% block content %}
    {% include './partials/defaultBanner.twig' with { 'title': title } %}
    <div class="container mt-4 mt-lg-8">
        <div class="row">
            <div class="col-12">

                <h1 class="text-center">Super Gewinne warten auf dich!</h1>
                <p class="text-center">Durch die Teilnahme am Lidl EM-Tippspiel habt ihr die einmalige Chance, einen unserer sensationellen Gewinne zu ergattern.<br/>
                    Die besten Teilnehmer können sich auf einen der nachfolgenden Gewinne freuen:<br/><br />
                    3x F2 Stand Up Paddle (Platz 1 bis Platz 3)<br/>
                2x vierflammiger Gasgrill „tepro“ (Platz 4 und Platz 5)<br/>
                10x Lidl Gutschein im Wert von € 100,00 (Platz 6 bis Platz 15)<br/>
                </p>

            </div>
        </div>

        {% include './partials/win_row.twig' %}

    </div>
{% endblock %}
