{% extends './layouts/frontend.twig' %}
{% block title %}Highscore{% endblock %}
{% block description %}{% endblock %}

{% block content %}
    {% include './partials/defaultBanner.twig' with { 'title': 'Highscore' } %}

    <div class="container mt-4 mt-lg-8">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h1 class="text-center">Highscore</h1>
                <p class="text-center">Prüfe deine aktuelle Position im Gesamtranking und verfolge, wer aktuell das Tippspiel anführt. </p>
            </div>

            {% if winRounds|length > 1 %}
                <div class="col-12 col-lg-8">
                    <div class="row">
                        <div class="col-12 col-md-4 col-lg-3">
                            <label for="I9ooYFf2QFA" class="select-label">Spieltag</label>
                            <select class="custom-select " id="I9ooYFf2QFA" data-controller="select/reload">
                                {% for round in winRounds %}
                                    <option
                                        value="{{ route('highscore.selected', { 'id': round.id } ) }}"
                                        {% if selected.id == round.id %} selected{% endif %}>{{ round.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

        {% if currentUserHighscore %}
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <p class="text-center">Du bist aktuell auf Position <b>{{ currentUserHighscore.position }}</b> mit <b>{{ currentUserHighscore.points }} </b>Punkten</p>
            </div>
        </div>
        {% endif %}

        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-center" style="width: 95px">Position</th>
                            <th>Name</th>
                            <th class="text-right">Punkte</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, user in users %}
                            <tr>
                                <td class="text-center">{{ user.position }}</td>
                                <td>
                                    {% if auth_user() %}
                                        {% if user.is_admin %}
                                            <b>{{ user.name }}</b>
                                        {% else %}
                                            {{ user.name }}
                                        {% endif %}
                                    {% else %}
                                        {{ user.name|slice(0, 3) ~ '***' }}
                                    {% endif %}
                                </td>
                                <td class="text-right">{{ user.points }}</td>
                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                </div>

                {{ users.render }}
            </div>
        </div>
    </div>

{% endblock %}
