{% extends './layouts/frontend.twig' %}
{% block title %}Spielplan{% endblock %}
{% block description %}{% endblock %}

{% block content %}

    {% include './partials/defaultBanner.twig' with { 'title': 'Spielplan' } %}

    <div class="container mt-4 mt-lg-8">
        <div class="row mb-4 mb-lg-8">
            <div class="col-12 text-center">
                <h1>Spielpan</h1>
                <p>Hier siehst du den aktuellen Spielplan der Fußball-Europameisterschaft 2021. Verfolge das Europameisterschaftsturnier und verpasse keine Tippabgabe!</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            {% for scheduleKey, schedule in schedules %}
                {% if schedule.type == 0 %}
                    <div class="col-12 col-md-8 mb-4">
                        <header class="section-head my-4">
                            <h2 class="section-head-title">{{ schedule.name }}</h2>
                        </header>

                        <div class="row d-none d-sm-flex">
                            <div class="col-12 col-sm-3 text-left"><b>Termin</b></div>
                            <div class="col-12 col-sm-3"><b>Heim</b></div>
                            <div class="col-12 col-sm-3"><b>Gast</b></div>
                            <div class="col-12 col-sm-3 text-sm-right"><b>Ergebnis</b></div>
                        </div>

                        <div class="row d-none d-sm-flex">
                            <div class="col-12">
                                <hr class="my-1"/>
                            </div>
                        </div>

                        {% for game  in schedule.games %}
                            <div class="row">
                                <div class="col-12 text-sm-left col-sm-3 d-none d-sm-flex align-items-center justify-content-end justify-content-sm-start">
                                    <div>
                                        {{ game.start_date|date("d.m.Y H:i") }}
                                    </div>
                                </div>
                                <div class="col-5 col-sm-3 d-sm-flex align-items-center mb-1 mb-sm-0 text-right text-sm-left">
                                    <div>
                                        {% if game.homeTeam.name %}
                                            <b class="d-flex d-sm-none h5 mb-0 justify-content-end">{{ game.homeTeam.name }}</b>
                                            <div class="d-none d-sm-flex">{{ game.homeTeam.name }}</div>
                                            {% if schedule.show_groups %}
                                                <div class="small">Gruppe: {{ game.homeTeam.group }}</div>
                                            {% endif %}
                                        {% else %}
                                            unbekannt
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-2 d-flex align-items-center d-sm-none justify-content-center mb-1 mb-sm-0"><b>:</b></div>
                                <div class="col-5 col-sm-3 mb-1 mb-sm-0 d-sm-flex align-items-center justify-content-start justify-content-sm-start">
                                    <div>
                                        {% if game.guestTeam.name %}
                                            <b class="d-flex d-sm-none h5 mb-0">{{ game.guestTeam.name }}</b>
                                            <div class="d-none d-sm-flex">{{ game.guestTeam.name }}</div>

                                            {% if schedule.show_groups %}
                                                <div class="small">Gruppe: {{ game.guestTeam.group }}</div>
                                            {% endif %}
                                        {% else %}
                                            unbekannt
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm-3 d-sm-none text-center mb-1">
                                    <b>
                                        am {{ game.start_date|date("d.m.Y") }} um {{ game.start_date|date("H:i") }} Uhr
                                    </b>
                                </div>
                                <div class="col-12 d-sm-none text-center"><b>Ergebnis: </b></div>
                                <div class="col-12 col-sm-3 d-flex align-items-center justify-content-center justify-content-sm-end">
                                    <div>
                                        {% if game.answer is defined and game.answer.home is defined %}
                                            {{ game.answer.home }} : {{ game.answer.guest }}
                                        {% else %}
                                            - : -
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% if loop.last == false %}
                                <div class="row">
                                    <div class="col-12">
                                        <hr class="my-4 my-sm-1"/>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
