{% extends './layouts/admin.twig' %}
{% block title %}Administration{% endblock %}
{% block description %}{% endblock %}

{% block content %}
    {% include './partials/defaultBanner.twig' with { 'title': 'Administration' } %}
    <div class="container mt-4 mt-lg-8">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Administration</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">

                <header class="section-head mb-4">
                    <h2 class="section-head-title">Userverwaltung</h2>
                </header>

                <a href="{{ route('admin.users.index') }}">Userverwaltung öffnen</a>

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">

                <header class="section-head mb-4">
                    <h2 class="section-head-title">Spielverwaltung</h2>
                </header>
                <a href="{{ route('admin.teams.index') }}">Vereine verwalten</a><br />
                <a href="{{ route('admin.schedules.index') }}">Spieltage verwalten</a><br />
                <a href="{{ route('admin.questions.index') }}">Fragen verwalten</a><br />
                <a href="{{ route('admin.answers.index') }}">Antworten verwalten</a><br />
                <a href="{{ route('admin.winning_rounds.index') }}">Gewinnrunden verwalten</a><br>
                <a href="{{ route('admin.point_rules.index') }}">Punktregeln verwalten</a>

            </div>
        </div>
    </div>
{% endblock %}
