<article class="card banner-card ">
    {% include 'components/image/image.twig' with {
        'alt': title,
        'class': 'card-img banner-card-img',
        'xs': xs,
        'sm': sm,
        'md': md,
        'lg': lg,
    } %}
    {% if title is defined or subhead is defined %}
    <header class="banner-container container-responsive">
        <div class="card-img-overlay banner-card-img-overlay">
            {% if title is defined %}<h2 class="banner-card-title">{{ title }}</h2>{% endif %}
            {% if subhead is defined %}<h3 class="banner-card-subhead">{{ subhead }}</h3>{% endif %}
        </div>
    </header>
    {% endif %}
</article>
