/*!
 * Bootstrap v4.3.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 *
 * Modified by Lidl Digital International GmbH & Co. KG
 * Handbaked with love by the CAKE-Team (https://cake.schwarz/)
 * Source-code from https://github.com/cake-hub/web-css_framework
 */

// Importing only some styles of the CAKE-Framework (simply outcomment the parts you need)
@import "~bootstrap/scss/functions";
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/functions-theme";
@import "variables-root";
@import "~bootstrap/scss/variables";
@import "variables-theme";
@import "~bootstrap/scss/mixins";
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/mixins-theme";
@import "~bootstrap/scss/root";
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/reboot";
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/typography-font-face";
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/typography";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/grid-theme";
@import "~bootstrap/scss/tables";
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/table-theme";
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/form";
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/button";
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/transition";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/input-group-theme";
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/custom-form";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/card-theme";
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/breadcrumb";
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/pagination";
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/flap";
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/coupon";
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/utilities";

// 3rd party for CAKE components
@import "~tiny-slider/src/tiny-slider.scss";
@import "~hamburgers/_sass/hamburgers/hamburgers";
@import "~tippy.js/dist/tippy";
@import "~tippy.js/dist/border";

@import "~@cake-hub/lidl-web-bootstrap_theme/scss/icon";
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/accordion";
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/banner";
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/cookie-alert";
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/footer";
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/header"; // required: theme-slider
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/popover"; // required: tippy.js
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/pricebox";
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/product-tile";
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/ribbon";
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/tab";
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/teaser";
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/theme-slider"; // required: tiny-slider
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/to-top";
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/trustbar";
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/section-head";
@import "~@cake-hub/lidl-web-bootstrap_theme/scss/floating-action-button";
@import "~bootstrap/scss/print";

html, body {
    min-height: 100vh;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    @include media-breakpoint-up(sm) {
        padding-bottom: 105px;
    }
}

#footer {
    @include media-breakpoint-up(sm) {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 105px;
    }
}
