{% extends './layouts/frontend.twig' %}
{% block title %}Tippabgabe{% endblock %}
{% block description %}{% endblock %}

{% block content %}
    {% include './partials/defaultBanner.twig' with { 'title': 'Tippabgabe' } %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 mt-4 mt-lg-8">
                <h1 class="text-center">Tippabgabe</h1>
                <p>
                    Gib deine persönlichen Tipps zu allen EM-Spielen ab. Du kannst deine Tipps bis zum Start der jeweiligen Spiele abgeben und ändern. Bitte beachte, dass die Bonusfragen ausschließlich vor Turnierbeginn beantwortet werden können.
                </p>
                <div class="row mb-4 mb-lg-8">
                    <div class="col-12 col-md-4 col-lg-3">
                        <label for="I9ooYFf2QFA" class="select-label">Spieltag</label>
                        <select class="custom-select" id="I9ooYFf2QFA" data-controller="select/reload">
                            {% for schedule in game_schedules %}
                                <option
                                    value="{{ route('tipp.game.selected', { 'id': schedule.id } ) }}"
                                    {% if selected_schedule.id == schedule.id %} selected{% endif %}>
                                    {{ schedule.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <form action="{{ route('tipp.game.save', { id: selected_schedule.id }) }}" method="post">
        {{ csrf_field() }}
        <div class="container">
            <div class="row justify-content-center">
                <input type="hidden" name="schedule" value="{{ selected_schedule.id }}">
                <div class="col-12 col-md-8">

                    {% if errors.any() %}
                        <div class="alert d-flex alert-danger" role="alert">
                            <div class="alert-icon">
                                {% include 'components/icon/icon.twig' with {
                                    'icon': 'exclamation-triangle',
                                    'title': 'Einige Angaben konnten nicht gespeichert werden.',
                                    'size': 4
                                } %}
                            </div>
                            <div class="alert-content-with-icon">
                                <h4 class="alert-heading">Einige Angaben konnten nicht gespeichert werden.</h4>

                                <ul class="m-0">
                                    {% for key, error in errors.messages %}
                                        {% if '.date' in key %}
                                            <li>Dieser Tipp kann nicht mehr getippt werden!</li>
                                        {% else %}
                                            <li>{{ error.0 }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    {% set showQuestions = 0 %}
                    {% for game in games %}
                        {% if game.type == 0 %}
                            {% set showQuestions = 1 %}
                        {% endif %}
                    {% endfor %}

                    {% if showQuestions == 1%}

                        <div class="row d-none d-sm-flex">
                            <div class="col-3 pb-1"><b>Termin</b></div>
                            <div class="col-3 pb-1"><b>Heim</b></div>
                            <div class="col-3 pb-1"><b>Gast</b></div>
                            <div class="col-3 pb-1 text-center">
                                <b>Dein Tipp</b>
                            </div>
                        </div>

                        <div class="row d-none d-sm-flex">
                            <div class="col-12"><hr class="my-1"/></div>
                        </div>

                        {% for game in games %}
                            {% if game.type == 0 %}
                                {% set invalidHomeClass = ''%}
                                {% set invalidGuestClass = ''%}
                                {% set invalidTextClass = ''%}
                                {% for key, error in errors.messages %}
                                    {% if 'tipp.' ~ game.id ~ '.home' in key %}
                                        {% set invalidHomeClass = ' is-invalid'%}
                                        {% set invalidTextClass = ' text-danger'%}
                                    {% endif %}
                                    {% if 'tipp.' ~ game.id ~ '.guest' in key %}
                                        {% set invalidGuestClass = ' is-invalid'%}
                                        {% set invalidTextClass = ' text-danger'%}
                                    {% endif %}
                                {% endfor %}

                                <div class="row">
                                    <div class="col-12 text-sm-left col-sm-3 d-none d-sm-flex align-items-center{{ invalidTextClass }}">
                                        <div>
                                        {{ game.start_date|date("d.m.Y H:i") }}
                                        </div>
                                    </div>

                                    <div class="col-5 col-sm-3 d-sm-flex align-items-center mb-1 mb-sm-0 text-right text-sm-left {{ invalidTextClass }}">
                                        <div>
                                            {% if game.homeTeam.name %}
                                                <b class="d-flex d-sm-none h5 mb-0 justify-content-end">{{ game.homeTeam.name }}</b>
                                                <div class="d-none d-sm-flex">{{ game.homeTeam.name }}</div>
                                                {% if selected_schedule.show_groups %}
                                                    <div class="small">Gruppe: {{ game.homeTeam.group }}</div>
                                                {% endif %}
                                            {% else %}
                                                unbekannt
                                            {% endif %}
                                        </div>

                                    </div>
                                    <div class="col-2 d-flex align-items-center d-sm-none justify-content-center mb-1 mb-sm-0"><b>:</b></div>
                                    <div class="col-5 col-sm-3 mb-1 mb-sm-0 d-sm-flex align-items-center{{ invalidTextClass }}">
                                        <div>
                                        {% if game.guestTeam.name %}
                                            <b class="d-flex d-sm-none h5 mb-0">{{ game.guestTeam.name }}</b>
                                            <div class="d-none d-sm-flex">{{ game.guestTeam.name }}</div>
                                            {% if selected_schedule.show_groups %}
                                                <div class="small">Gruppe: {{ game.guestTeam.group }}</div>
                                            {% endif %}
                                        {% else %}
                                            unbekannt
                                        {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-sm-3 d-sm-none text-center mb-1">
                                        <b>
                                            am {{ game.start_date|date("d.m.Y") }} um {{ game.start_date|date("H:i") }} Uhr
                                        </b>
                                    </div>

                                    <div class="col-12 d-sm-none">
                                        <b>Dein Tipp:</b>
                                    </div>

                                    <div class="col-12 col-sm-3 align-middle text-right{{ invalidTextClass }}">
                                        {% if game.canTipp is defined and game.canTipp == true and game.guestTeam.name and game.homeTeam.name %}
                                            <div class="row">
                                                <div class="col-5 col-sm-6">

                                                    {% set val = game.userAnswer.home %}
                                                    {% if old.tipp[game.id].home is not empty %}
                                                        {% set val = old.tipp[game.id].home %}
                                                    {% endif %}

                                                    <input type="number"
                                                           value="{{ val }}"
                                                           class="form-control{{ invalidHomeClass }}"
                                                           name="tipp[{{ game.id }}][home]"/>
                                                </div>
                                                <div class="col-2 d-flex align-items-center d-sm-none justify-content-center mb-1 mb-sm-0"><b>:</b></div>
                                                <div class="col-5 col-sm-6">

                                                    {% set val = game.userAnswer.guest %}
                                                    {% if old.tipp[game.id].home is not empty %}
                                                        {% set val = old.tipp[game.id].guest %}
                                                    {% endif %}

                                                    <input type="number"
                                                           value="{{ val }}"
                                                           class="form-control{{ invalidGuestClass }}"
                                                           name="tipp[{{ game.id }}][guest]"/>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="row">
                                                <div class="col-6">
                                                    <input type="number" value="{{ game.userAnswer.home }}" class="form-control" disabled="disabled" />
                                                </div>
                                                <div class="col-6">
                                                    <input type="number" value="{{ game.userAnswer.guest }}" class="form-control" disabled="disabled" />
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                {% if loop.last == false %}
                                    <div class="row">
                                        <div class="col-12">
                                            <hr class="my-4 my-sm-1"/>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% set showBonusQuestions = 0 %}
                    {% for game in games %}
                        {% if game.type == 1 %}
                            {% set showBonusQuestions = 1 %}
                        {% endif %}
                    {% endfor %}

                    {% if showBonusQuestions == 1%}

                        <div class="row d-none d-sm-flex">
                            <div class="col-3 pb-1"><b>Termin</b></div>
                            <div class="col-6 pb-1"><b>Bonusfrage</b></div>
                            <div class="col-3 pb-1 text-center">
                                <b>Dein Tipp</b>
                            </div>
                        </div>

                        <div class="row d-none d-sm-flex">
                            <div class="col-12"><hr class="my-1"/></div>
                        </div>

                        {% for game in games %}

                            {% if game.type == 1 %}
                                <div class="row">
                                    <div class="col-12 col-sm-3 d-flex align-items-center">
                                        <b class="d-flex d-sm-none mb-1 h3">
                                            Termin: {{ game.start_date|date("d.m.Y H:i") }}
                                        </b>
                                        <div class="d-none d-sm-flex">
                                            {{ game.start_date|date("d.m.Y H:i") }}
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 pb-1 pb-sm-0 d-sm-flex align-items-center">
                                        <div class="d-flex d-sm-none">
                                            <b>Bonusfrage: </b>
                                        </div>
                                        {{ game.bonusQuestion }}
                                    </div>
                                    <div class="col-12 col-sm-3 d-sm-flex align-items-center">
                                        <div class="d-flex d-sm-none">
                                            <b>Dein Tipp: </b>
                                        </div>
                                        {% if game.canTipp is defined and game.canTipp == true %}
                                            <select class="custom-select" name="tipp[{{ game.id }}]">
                                                {% if game.userAnswer is not defined or game.userAnswer is empty %}
                                                <option disabled selected>Bitte wählen</option>
                                                {% endif %}
                                                {% for option in game.bonusSelectables %}
                                                    <option
                                                        value="{{ option.id }}"
                                                        {% if game.userAnswer.id == option.id %} selected{% endif %}>
                                                        {{ option.name }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        {% else %}
                                            <select disabled class="custom-select">
                                                <option disabled selected> --- </option>
                                            </select>
                                        {% endif %}
                                    </div>
                                </div>
                                {% if loop.last == false %}
                                    <div class="row">
                                        <div class="col-12">
                                            <hr class="my-4 my-sm-1"/>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                    {% endif %}

                    <div class="row">
                        <div class="col-12 text-right mt-8">
                            {% include 'components/recaptcha.twig' %}
                            <input type="submit" class="btn btn-primary" value="Tipps speichern"/>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
{% endblock %}
