{% extends './layouts/frontend.twig' %}
{% block title %}Tipp-Übersicht{% endblock %}
{% block description %}{% endblock %}

{% block content %}

    {% include './partials/defaultBanner.twig' with { 'title': 'Tipp-Übersicht' } %}
    <div class="container mt-4 mt-lg-8">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <h1 class="text-center">Tipp Übersicht</h1>
                <div class="row mb-4 mb-lg-8">
                    <div class="col-12 text-center">
                        <p>Hier kannst du deine aktuell abgegebenen Tipps einsehen und kontrollieren. Änderungen kannst du im Reiter
                            <a href="{{ route('tipp.game') }}" title="Tippabgabe">„Tippabgabe“</a> vornehmen.</p>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-12 col-md-4 col-lg-3">
                        <label for="I9ooYFf2QFA" class="select-label">Spieltag</label>
                        <select class="custom-select " id="I9ooYFf2QFA" data-controller="select/reload">
                            {% for schedule in game_schedules %}
                                <option
                                    value="{{ route('tipp.overview.selected', { 'id': schedule.id } ) }}"
                                    {% if selected_schedule.id == schedule.id %} selected{% endif %}>{{ schedule.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>


                {% set showQuestions = 0 %}
                {% for game in games %}
                    {% if game.type == 0 %}
                        {% set showQuestions = 1 %}
                    {% endif %}
                {% endfor %}

                {% if showQuestions == 1 %}

                    <div class="row d-none d-sm-flex">
                        <div class="col-3 pb-1"><b>Termin</b></div>
                        <div class="col-2 pb-1"><b>Heim</b></div>
                        <div class="col-2 pb-1"><b>Gast</b></div>
                        <div class="col-2 pb-1 text-center"><b>Dein Tipp</b></div>
                        <div class="col-2 pb-1 text-center"><b>Ergebnis</b></div>
                        <div class="col-1 pb-1 text-right"><b>Punkte</b></div>
                    </div>

                    <div class="row d-none d-sm-flex">
                        <div class="col-12">
                            <hr class="my-1"/>
                        </div>
                    </div>

                    {% for game in games %}
                        {% if game.type == 0 %}
                            <div class="row">
                                <div class="col-sm-3 d-sm-flex align-items-center">
                                    <div class="d-none d-sm-flex">
                                        {{ game.start_date|date("d.m.Y H:i") }}
                                    </div>
                                </div>
                                <div class="col-5 col-sm-2 d-sm-flex align-items-center mb-1 mb-sm-0 text-right text-sm-left">
                                    <div>
                                        {% if game.homeTeam is defined and game.homeTeam.name is defined %}
                                            <b class="d-flex d-sm-none h5 mb-0 justify-content-end">{{ game.homeTeam.name }}</b>
                                            <div class="d-none d-sm-flex">{{ game.homeTeam.name }}</div>
                                            {% if selected_schedule.show_groups %}
                                                <div class="small">Gruppe: {{ game.homeTeam.group }}</div>
                                            {% endif %}
                                        {% else %}
                                            unbekannt
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-2 d-flex align-items-center d-sm-none justify-content-center mb-1 mb-sm-0"><b>:</b></div>
                                <div class="col-5 col-sm-2 d-sm-flex align-items-center mb-1 mb-sm-0">
                                    <div>
                                        {% if game.guestTeam is defined and game.guestTeam.name is defined %}
                                            <b class="d-flex d-sm-none h5 mb-0 justify-content-start">{{ game.guestTeam.name }}</b>
                                            <div class="d-none d-sm-flex">{{ game.guestTeam.name }}</div>
                                            {% if selected_schedule.show_groups %}
                                                <div class="small">Gruppe: {{ game.guestTeam.group }}</div>
                                            {% endif %}
                                        {% else %}
                                            unbekannt
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-sm-3 d-sm-none text-center mb-1">
                                    <b>
                                        am {{ game.start_date|date("d.m.Y") }} um {{ game.start_date|date("H:i") }} Uhr
                                    </b>
                                </div>

                                <div class="col-4 d-sm-none text-center"><b>Dein Tipp: </b></div>
                                <div class="col-4 d-sm-none text-center"><b>Ergebnis: </b></div>
                                <div class="col-4 d-sm-none text-center"><b>Punkte: </b></div>

                                <div class="col-4 col-sm-2 d-sm-flex align-items-center justify-content-center">
                                    <div class="text-center ">
                                        {% if game.userAnswer is defined and game.userAnswer.home is defined %}
                                            {{ game.userAnswer.home }} : {{ game.userAnswer.guest }}
                                        {% else %}
                                            - : -
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-4 col-sm-2 d-sm-flex align-items-start align-items-sm-center justify-content-center">
                                    <div class=" text-center ">
                                        {% if game.answer is defined and game.answer.home is defined %}
                                            {{ game.answer.home }} : {{ game.answer.guest }}
                                        {% else %}
                                            - : -
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-4 col-sm-1  d-sm-flex align-items-center justify-content-end">
                                    <div class="text-center text-sm-right ">
                                        {% if game.userPoints is defined %}
                                            {{ game.userPoints }}
                                        {% else %}
                                            0
                                        {% endif %}
                                    </div>

                                </div>
                            </div>

                            {% if loop.last == false %}
                                <div class="row">
                                    <div class="col-12">
                                        <hr class="my-4 my-sm-1"/>
                                    </div>
                                </div>
                            {% endif %}

                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% set showBonusQuestions = 0 %}
                {% for game in games %}
                    {% if game.type == 1 %}
                        {% set showBonusQuestions = 1 %}
                    {% endif %}
                {% endfor %}

                {% if showBonusQuestions == 1 %}
                    <div class="row d-none d-sm-flex">
                        <div class="col-3 pb-1"><b>Termin</b></div>
                        <div class="col-5 pb-1"><b>Bonusfrage</b></div>
                        <div class="col-2 pb-1 text-center"><b>Dein Tipp</b></div>
                        <div class="col-2 pb-1 text-center"><b>Ergebnis</b></div>
                        <div class="col-1 pb-1 text-right"><b>Punkte</b></div>
                    </div>

                    {% for game in games %}

                        {% if game.type == 1 %}
                            <div class="row">
                                <div class="col-12 col-sm-3 d-sm-flex align-items-center">
                                    <div class="d-none d-sm-flex">
                                        {{ game.start_date|date("d.m.Y H:i") }}
                                    </div>
                                </div>

                                <div class="col-12 d-sm-none"><b>Bonusfrage: </b></div>
                                <div class="col-12 col-sm-2 d-sm-flex align-items-center mb-1 mb-sm-0 text--left">
                                    {{ game.bonusQuestion }}
                                </div>
                                <div class="col-4 text-center d-sm-none"><b>Dein Tipp: </b></div>
                                <div class="col-4 text-center d-sm-none"><b>Ergebnis: </b></div>
                                <div class="col-4 text-center d-sm-none"><b>Punkte: </b></div>

                                <div class="col-4 col-sm-2 d-sm-flex align-items-center justify-content-center">
                                    <div class=" text-center ">
                                        {% if game.userAnswer is defined and game.userAnswer is not empty %}
                                            {{ game.userAnswer.name }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-4 col-sm-2 d-sm-flex align-items-end align-items-sm-center justify-content-center">
                                    <div class="text-center ">
                                        {% if game.answer is defined and game.answer.name is defined %}
                                            {{ game.answer.name }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-4 col-sm-1  d-sm-flex align-items-center justify-content-end">
                                    <div class="text-center text-sm-right">
                                        {% if game.userPoints is defined %}
                                            {{ game.userPoints }}
                                        {% else %}
                                            0
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% if loop.last == false %}
                                <div class="row">
                                    <div class="col-12">
                                        <hr class="my-4 my-sm-1"/>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                {% endif %}


            </div>


        </div>
    </div>

{% endblock %}
