<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="name" class="input-label ">
                Name
                {% if data.name is defined %}(Aktuell: {{ data.name }}){% endif %}
            </label>
            <div class="input-group">
                {% set val = data.name %}
                {% if old.name is not empty %}
                    {% set val = old.name %}
                {% endif %}
                <input type="text" class="form-control" id="name" name="name" value="{{ val }}"/>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="I9ooYFf2QFA" class="select-label">Fragen aus denen der/die Gewinner berechnet werden</label>

            <select class="custom-select " id="I9ooYFf2QFA" multiple="multiple" name="selected[]" size="20">

                {% for question in questions %}
                    {% set label = '' %}

                    {% if question.type == 0 %}
                        {% if question.homeTeam is defined and question.homeTeam.name is defined %}
                            {% set label = question.homeTeam.name ~ ' - ' ~ question.guestTeam.name ~ ' (Datum: ' ~ question.start_date|date("d.m.Y H:i") ~ ')'  %}
                        {% else %}
                            {% set label = 'unbekannt - unbekannt (Datum: ' ~ question.start_date|date("d.m.Y H:i") ~ ')'  %}
                        {% endif %}
                    {% endif %}

                    {% if question.type == 1 %}
                        {% set label = question.bonusQuestion  %}
                    {% endif %}

                    {% set selected = 0 %}
                    {% if data.questions %}
                        {% for selectedQuestion in data.questions %}
                            {% if selectedQuestion.value == question.id %}
                                {% set selected = 1 %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% if old.selected %}
                        {% set selected = 0 %}
                        {% for selectedQuestion in old.selected %}
                            {% if selectedQuestion.id == question.id %}
                                {% set selected = 1 %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}


                    <option value="{{ question.id }}" {% if selected == 1 %}selected="selected"{% endif %}>{{ label }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% if data.name is defined %}

    <div class="col-12 col-md-6">
        <label class="form-label">Aktuell:</label><br />
        {% for question in questions %}

            {% set label = '' %}

            {% if question.type == 0 %}
                {% if question.homeTeam is defined and question.homeTeam.name is defined %}
                    {% set label = question.homeTeam.name ~ ' - ' ~ question.guestTeam.name ~ ' (Datum: ' ~ question.start_date|date("d.m.Y H:i") ~ ')'  %}
                {% else %}
                    {% set label = 'unbekannt - unbekannt (Datum: ' ~ question.start_date|date("d.m.Y H:i") ~ ')'  %}
                {% endif %}
            {% endif %}

            {% if question.type == 1 %}
                {% set label = question.bonusQuestion  %}
            {% endif %}

            {% set selected = 0 %}

            {% if data.questions %}
                {% for selectedQuestion in data.questions %}
                    {% if selectedQuestion.value == question.id %}
                        {% set selected = 1 %}
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if selected == 1 %}{{ label }}<br />{% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>
