{% extends './layouts/admin.twig' %}
{% block title %}Gewinnrunde erstellen{% endblock %}
{% block description %}{% endblock %}

{% block admincontent %}
    <form method="POST" action="{{ route('admin.winning_rounds.store') }}">
        {{ csrf_field() }}
        {% if errors.any() %}
            <div class="alert alert-danger">
                <ul class="m-0">
                    {% for error in errors.all() %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% include 'admin/winning_rounds/_form.twig' %}

        <div class="row">
            <div class="col-12">
                <input type="submit" class="btn btn-primary" value="Speichern">
            </div>
        </div>

    </form>

{% endblock %}
