{% extends './layouts/admin.twig' %}
{% block title %}Gewinnrunde löschen{% endblock %}
{% block description %}{% endblock %}

{% block admincontent %}

    {% set hasErrors = 0 %}

    {% if hasErrors == 0 %}
        <p>Möchten Sie die Gewinnrunde <b>{{ data.name }}</b> wirklich löschen?</p>
        <form method="POST" action="{{ route('admin.winning_rounds.remove', {id: data.id}) }}">
            {{ csrf_field() }}
            {% if errors.any() %}
                <div class="alert alert-danger">
                    <ul class="m-0">
                        {% for error in errors.all() %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-12">
                    <input type="submit" class="btn btn-primary" value="löschen">
                </div>
            </div>

        </form>
    {% else %}
        {% include 'components/alert/danger.twig' with {
            'title': data.name,
            'text': 'Die Gewinnrunde kann nicht gelöscht werden'
        } %}
        <a class="btn btn-primary" href="{{ route('admin.winning_rounds.index') }}">Zurück</a>
    {% endif %}
{% endblock %}
