{% extends './layouts/admin.twig' %}
{% block title %}Gewinnrunde bearbeiten{% endblock %}
{% block description %}{% endblock %}

{% block admincontent %}
    {% if app.session.get('status')== 'updated-success' %}
        {% include 'components/alert/info.twig' with {
            'title': 'Gewinnrunde wurde geändert!',
            'text': ''
        } %}
    {% endif %}
    <form method="POST" action="{{ route('admin.winning_rounds.edit.update', { id: data.id}) }}">
        {{ csrf_field() }}
        {% if errors.any() %}
            <div class="alert alert-danger">
                <ul class="m-0">
                    {% for error in errors.all() %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <input type="hidden" class="form-control" id="id" name="id" value="{{ data.id }}"/>
        {% include 'admin/winning_rounds/_form.twig' %}

        <div class="row">
            <div class="col-12">
                <a href="{{ route('admin.winning_rounds.index') }}" class="btn btn-secondary">Zurück</a>
                <input type="submit" class="btn btn-primary" value="Speichern">
            </div>
        </div>

    </form>

{% endblock %}
