{% extends './layouts/admin.twig' %}
{% block title %}Gewinnrunden{% endblock %}
{% block description %}{% endblock %}

{% block admincontent %}
    <div class="row mb-4">
        {% if app.session.get('status')== 'created-success' %}
            <div class="col-12">
                {% include 'components/alert/info.twig' with {
                    'title': 'Gewinnrunde wurde angelegt!',
                    'text': ''
                } %}
            </div>
        {% endif %}
        <div class="col-12">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link btn-primary" href="{{ route('admin.winning_rounds.create') }}">Erstellen</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th class="text-right">Optionen</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for round in rounds %}
                        <tr>
                            <td>{{ round.name }}</td>
                            <td class="text-right">

                                <a href="{{ route('admin.winning_rounds.edit', { id: round.id }) }}" class="btn btn-link btn-sm" data-tippy-content="bearbeiten">
                                    {% include 'components/icon/icon.twig' with {
                                        'icon': 'pencil',
                                        'title': 'bearbeiten',
                                        'size': 2
                                    } %}
                                </a>
                                <a href="{{ route('admin.winning_rounds.delete', { id: round.id}) }}" class="btn btn-link btn-sm text-danger" data-tippy-content="löschen">
                                    {% include 'components/icon/icon.twig' with {
                                        'icon': 'cross',
                                        'title': 'löschen',
                                        'size': 2
                                    } %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {{ users.render }}

            </div>
        </div>
    </div>

{% endblock %}
