{% spaceless %}

{% if path is not defined %}
    {% set path = '/images/icon__sprite.svg' %}
{% endif %}

{% if icon is not defined %}
    {% set icon = 'placeholder' %}
{% endif %}

{% if size is not defined %}
    {% set size = '' %}
{% else %}
    {% set size = ' icon-' ~ size %}
{% endif %}

{% if class is not defined %}
    {% set class = '' %}
{% else %}
    {% set class = ' ' ~ class %}
{% endif %}

{% if style is not defined %}
    {% set style = '' %}
{% else %}
    {% set style = ' style="' ~ style ~ '"' %}
{% endif %}

<svg class="icon{{ size }}{{ class }}"{{ style }} xmlns="http://www.w3.org/2000/svg" role="img" focusable="false">
    {% if title is defined %}
        <title>{{ title }}</title>
    {% endif %}

    <use xlink:href="{{ path }}#{{ icon }}"></use>
</svg>
{% endspaceless %}
