{% spaceless %}
{% set default = 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==' %}
{% if alt is not defined %}
    {% set alt = '' %}
{% endif %}
<picture>
    {% if lg is defined %}
        <source srcset="{{ lg }}" media="(min-width: 1280px)">
    {% endif %}

    {% if md is defined %}
        <source srcset="{{ md }}" media="(min-width: 960px)">
    {% endif %}

    {% if sm is defined %}
        <source srcset="{{ sm }}" media="(min-width: 600px)">
    {% endif %}

    {% if xs is defined %}
        <source srcset="{{ xs }}" media="(min-width: 0)">
    {% endif %}

    <img src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==' alt="{{ alt }}" {% if class is defined %}class="{{ class }}"{% endif %}>
</picture>
{% endspaceless %}
