<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="name" class="input-label ">
                Name {% if schedule.name %}(Aktuell: {{ schedule.name }}){% endif %}
            </label>
            <div class="input-group">
                {% set val = schedule.name %}
                {% if old.name is not empty %}
                    {% set val = old.name %}
                {% endif %}
                <input type="text" class="form-control" id="name" name="name" value="{{ val }}"/>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="short_name" class="input-label ">
                Kürzel {% if schedule.short_name %}(Aktuell: {{ schedule.short_name }}){% endif %}
            </label>
            <div class="input-group">
                {% set val = schedule.short_name %}
                {% if old.short_name is not empty %}
                    {% set val = old.short_name %}
                {% endif %}
                <input type="text" class="form-control" id="short_name" name="short_name" value="{{ val }}"/>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-6">
        <div class="form-group">
            {% set val = schedule.start_date %}
            {% if old.start_date is not empty %}
                {% set val = old.start_date %}
            {% endif %}
            <label for="start_date" class="input-label">
                Startdatum {% if schedule.start_date %}(Aktuell: {{ schedule.start_date }}){% endif %}
            </label>

            <div class="input-group">
                <input type="text" placeholder="dd.mm.yyyy --:--:--" class="form-control flatpickr" name="start_date" id="start_date" value="{{ val }}"/>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="form-group">
            <label for="end_date" class="input-label ">
                Enddatum {% if schedule.end_date %}(Aktuell: {{ schedule.end_date }}){% endif %}
            </label>
            <div class="input-group">
                {% set val = schedule.end_date %}
                {% if old.end_date is not empty %}
                    {% set val = old.end_date %}
                {% endif %}
                <input type="text" placeholder="dd.mm.yyyy --:--:--" class="form-control flatpickr" id="end_date" name="end_date" value="{{ val }}"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="custom-control custom-checkbox ">
            {% set val = schedule.show_groups %}

            <input type="checkbox" id="show_groups" {% if val == 1 %}checked{% endif %} value="1" name="show_groups" class="custom-control-input ">

            <label for="show_groups" class="custom-control-label">
                Gruppe anzeigen
            </label>
        </div>
    </div>
</div>
