{% extends './layouts/admin.twig' %}
{% block title %}Spieltag erstellen{% endblock %}
{% block description %}{% endblock %}

{% block admincontent %}

    <form method="POST" action="{{ route('admin.schedules.store') }}">
        {{ csrf_field() }}
        {% if errors.any() %}
            <div class="alert alert-danger">
                <ul class="m-0">
                    {% for error in errors.all() %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% include 'admin/schedules/_form.twig' %}

        <div class="row">
            <div class="col-12">
                <a href="{{ route('admin.schedules.index') }}" class="btn btn-secondary">Zurück</a>
                <input type="submit" class="btn btn-primary" value="Anlegen">
            </div>
        </div>

    </form>
{% endblock %}
