{% extends './layouts/admin.twig' %}
{% block title %}Spieltag bearbeiten{% endblock %}
{% block description %}{% endblock %}

{% block admincontent %}

    {% if app.session.get('status')== 'updated-success' %}
        {% include 'components/alert/info.twig' with {
            'title': 'Spieltag wurde geändert!',
            'text': ''
        } %}
    {% endif %}

    <form method="POST" action="#">
        {{ csrf_field() }}
        {% if errors.any() %}
            <div class="alert alert-danger">
                <ul class="m-0">
                    {% for error in errors.all() %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <input type="hidden" class="form-control" id="id" name="id" value="{{ schedule.id }}"/>

        {% include 'admin/schedules/_form.twig' %}

        <div class="row">
            <div class="col-12">
                <a href="{{ route('admin.schedules.index') }}" class="btn btn-secondary">Zurück</a>
                <input type="submit" class="btn btn-primary" value="Speichern">
            </div>
        </div>

    </form>

{% endblock %}
