{% extends './layouts/admin.twig' %}
{% block title %}Spieltage{% endblock %}
{% block description %}{% endblock %}

{% block admincontent %}
    <div class="row mb-4">
        {% if app.session.get('status')== 'created-success' %}
            <div class="col-12">
                {% include 'components/alert/info.twig' with {
                    'title': 'Spieltag wurde angelegt!',
                    'text': ''
                } %}
            </div>
        {% endif %}
        <div class="col-12">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link btn-primary" href="{{ route('admin.schedules.create') }}">Erstellen</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Start</th>
                <th>Ende</th>
                <th class="text-right">Optionen</th>
            </tr>
            </thead>
            <tbody>
            {% for schedule in game_schedules %}
                <tr>
                    <td>{{ schedule.name }}</td>
                    <td>{{ schedule.start_date|date("d.m.Y H:i") }}</td>
                    <td>{{ schedule.end_date|date("d.m.Y H:i") }}</td>
                    <td class="text-right">
                        <a href="{{ route('admin.schedules.edit', { id: schedule.id }) }}" class="btn btn-link btn-sm" data-tippy-content="bearbeiten">
                            {% include 'components/icon/icon.twig' with {
                                'icon': 'pencil',
                                'title': 'bearbeiten',
                                'size': 2
                            } %}
                        </a>
                        <a href="{{ route('admin.schedules.delete', { id: schedule.id}) }}" class="btn btn-link btn-sm text-danger" data-tippy-content="löschen">
                            {% include 'components/icon/icon.twig' with {
                                'icon': 'cross',
                                'title': 'löschen',
                                'size': 2
                            } %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
