<div class="alert d-flex alert-success" role="alert">
    <div class="alert-icon">
        {% include 'components/icon/icon.twig' with {
            'icon': 'information-circle',
            'title': 'Info',
            'size': 4
        } %}
    </div>
    <div class="alert-content-with-icon">
        {% if title is defined %}
            <h4 class="alert-heading">{{ title }}</h4>
        {% endif %}
        {% if text is defined %}
            <p class="mb-0">{{ text }}</p>
        {% endif %}
    </div>
</div>
