<div class="row">
    <div class="col-md-4 col-lg-2">
        <div class="form-group">
            <label for="status" class="select-label ">Status</label>
            <select class="custom-select " name="status" id="status">
                <option value="0" {% if data.status == 0 or old.status == 0 %} selected{% endif %}>Aktiv</option>
                <option value="1" {% if data.status == 1 or old.status == 1 %} selected{% endif %}>Gesperrt</option>
            </select>
        </div>
    </div>
    <div class="col-md-4 col-lg-2">
        <div class="form-group">
            <label for="admin" class="select-label ">Admin</label>
            <select class="custom-select" name="is_admin" id="admin">
                <option value="0" {% if data.is_admin == 0 or old.is_admin == 0 %} selected{% endif %}>Nein</option>
                <option value="1" {% if data.is_admin == 1 or old.is_admin == 1 %} selected{% endif %}>Ja</option>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-6">
        <div class="form-group">
            <label class="input-label ">Angemeldet seit</label>
            <div class="input-group">
                {{ data.created_at|date("d.m.Y H:i") }}
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="form-group">
            <label class="input-label">Email Verified</label>
            <div class="input-group">
                {{ data.email_verified_at|date("d.m.Y H:i") }}
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-12 col-sm-6">
        <div class="form-group">
            <label for="name" class="input-label ">Name</label>
            <div class="input-group">
                {% set val = data.name %}
                {% if old.name is not empty %}
                    {% set val = old.name %}
                {% endif %}
                <input type="text" class="form-control" id="name" name="name" required value="{{ val }}" />
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="form-group">
            <label for="email" class="input-label ">e-Mail</label>
            <div class="input-group">
                {% set val = data.email %}
                {% if old.email is not empty %}
                    {% set val = old.email %}
                {% endif %}
                <input type="text" class="form-control" id="email" name="email" required value="{{ val }}" />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-6">
        <div class="form-group">
            {% if old.password is not empty %}
                {% set val = old.password %}
            {% endif %}
            {% if create == 1 %}
                <label for="password" class="input-label ">Passwort</label>
                {% else %}
            <label for="password" class="input-label ">Passwort (leer lassen für keine änderung)</label>
            {% endif %}
            <div class="input-group">
                <input data-controller="inputfield/password"
                       type="password"
                       class="form-control input-group-input-icon"
                       name="password"
                       id="password" value="" {% if create == 1 %}required{% endif%} />
                <button type="button" class="btn btn btn-link p-0 inputfield-icon input-group-inside d-none"
                        data-controller="inputfield/password/toggle" aria-pressed="false">
                    {% include 'components/icon/icon.twig' with {
                        'icon': 'eye-close',
                        'class': 'inputfield-icon-password-invisible'
                    } %}
                    {% include 'components/icon/icon.twig' with {
                        'icon': 'eye-open',
                        'class': 'inputfield-icon-password-visible'
                    } %}
                </button>
            </div>
        </div>
    </div>
</div>
