{% extends './layouts/admin.twig' %}
{% block title %}User löschen{% endblock %}
{% block description %}{% endblock %}

{% block admincontent %}
    <p>Möchten Sie den User <b>{{ data.name }}</b> wirklich löschen?</p>
    <form method="POST" action="{{ route('admin.users.remove', {id: data.id}) }}">
        {{ csrf_field() }}
        {% if errors.any() %}
            <div class="alert alert-danger">
                <ul class="m-0">
                    {% for error in errors.all() %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-12 text-right">
                <input type="submit" class="btn btn-primary" value="User löschen">
            </div>
        </div>

    </form>

{% endblock %}
