{% extends './layouts/admin.twig' %}
{% block title %}User {{ data.name}} bearbeiten{% endblock %}
{% block description %}{% endblock %}

{% block admincontent %}

    <form method="POST" action="{{ route('admin.users.update', { id: data.id }) }}" data-controller="user/edit">
        {{ csrf_field() }}
        {% if errors.any() %}
            <div class="alert alert-danger">
                <ul class="m-0">
                    {% for error in errors.all() %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <input type="hidden" name="id" value="{{ data.id }}" />

        {% include 'admin/users/_form.twig' %}

        <div class="row">
            <div class="col-12">
                <a href="{{ route('admin.users.index') }}" class="btn btn-secondary">Zurück</a>
                <input type="submit" class="btn btn-primary" value="Ändern">
            </div>
        </div>

    </form>
{% endblock %}
