{% extends './layouts/admin.twig' %}
{% block title %}Userverwaltung{% endblock %}
{% block description %}{% endblock %}

{% block admincontent %}
    <div class="row mb-4">
        {% if app.session.get('status')== 'created-success' %}
            <div class="col-12">
                {% include 'components/alert/info.twig' with {
                    'title': 'Frage wurde angelegt!',
                    'text': ''
                } %}
            </div>
        {% endif %}
        <div class="col-12 col-md-6 col-lg-4">
            <form method="GET" action="{{ route('admin.users.index') }}">

                <label for="search" class="input-label ">Suchen</label>

                <div class="input-group">
                    <input type="text" id="search" name="q" class="form-control" value="{{ search }}"/>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">
                            {% include 'components/icon/icon.twig' with {
                                'icon': 'magnifier',
                                'title': 'Suchen',
                                'size': 3,
                                'class': 'btn-icon'
                            } %}
                        </button>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-12 col-md-6 col-lg-4 pt-4">
            <a class="btn btn-primary" href="{{ route('admin.users.create') }}">Erstellen</a>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th class="text-left">e-Mail</th>
                        <th class="text-center">Status</th>
                        <th class="text-right">Optionen</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.name }}</td>
                            <td class="text-left">
                                {{ user.email }}
                            </td>
                            <td class="text-center">
                                {% if user.status == 0 %}
                                    <span class="text-success" data-tippy-content="Aktiv">
                                        {% include 'components/icon/icon.twig' with {
                                            'icon': 'star-solid',
                                            'title': 'Aktiv',
                                            'size': 2
                                        } %}
                                    </span>
                                {% elseif user.status == 1 %}
                                    <span class="text-danger" data-tippy-content="Gesperrt">
                                        {% include 'components/icon/icon.twig' with {
                                            'icon': 'cross',
                                            'title': 'Gesperrt',
                                            'size': 2
                                        } %}
                                    </span>
                                {% endif %}
                                {% if user.hasVerifiedEmail() %}
                                    <span class="text-success" data-tippy-content="E-Mail wurde bestätigt">
                                        {% include 'components/icon/icon.twig' with {
                                            'icon': 'envelope-open',
                                            'title': 'E-Mail nicht bestätigt',
                                            'size': 2
                                        } %}
                                    </span>
                                {% else %}
                                    <span class="text-danger" data-tippy-content="E-Mail nicht bestätigt"
                                          aria-haspopup="true" aria-expanded="false">
                                        {% include 'components/icon/icon.twig' with {
                                            'icon': 'envelope-close',
                                            'title': 'E-Mail nicht bestätigt',
                                            'size': 2
                                        } %}
                                    </span>
                                {% endif %}
                            </td>
                            <td class="text-right">
                                <a href="{{ route('admin.users.edit', { id: user.id }) }}" class="btn btn-sm btn-link" data-tippy-content="User {{ user.name }} bearbeiten">
                                    {% include 'components/icon/icon.twig' with {
                                        'icon': 'pencil',
                                        'title': 'bearbeiten',
                                        'size': 2
                                    } %}
                                </a>

                                <a href="{{ route('admin.users.delete', { id: user.id}) }}" class="btn btn-link btn-sm text-danger" data-tippy-content="löschen">
                                    {% include 'components/icon/icon.twig' with {
                                        'icon': 'cross',
                                        'title': 'löschen',
                                        'size': 2
                                    } %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {{ pagination|raw }}

            </div>
        </div>
    </div>

{% endblock %}
