<div class="row">
    <div class="col-md-4 col-lg-2">
        <div class="form-group">
            <label for="type" class="select-label ">Typ</label>
            <select class="custom-select " id="type" name="type" data-controller="question/create/type-select">
                <option value="0" {% if data.type == 0 or old.type == 0 %} selected{% endif %}>Spiel</option>
                <option value="1" {% if data.type == 1 or old.type == 1 %} selected{% endif %}>Bonus</option>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="name" class="input-label ">Name</label>
            <div class="input-group">
                {% set val = data.name %}
                {% if old.name is not empty %}
                    {% set val = old.name %}
                {% endif %}
                <input type="text" class="form-control" id="name" name="name" value="{{ val }}"/>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="exact" class="input-label ">Exaktes Ergebnis</label>
            <div class="input-group">
                {% set val = data.data.exact %}
                {% if old.exact is not empty %}
                    {% set val = old.exact %}
                {% endif %}
                <input type="text" class="form-control" id="exact" name="exact" value="{{ val }}"/>
            </div>
        </div>
        <div class="form-group type-game d-none">
            <label for="tendence" class="input-label ">Tendenz richtig</label>
            <div class="input-group">
                {% set val = data.data.tendence %}
                {% if old.tendence is not empty %}
                    {% set val = old.tendence %}
                {% endif %}
                <input type="text" class="form-control" id="tendence" name="tendence" value="{{ val }}"/>
            </div>
        </div>
        <div class="form-group type-game d-none">
            <label for="difference" class="input-label ">Differenz richtig</label>
            <div class="input-group">
                {% set val = data.data.difference %}
                {% if old.difference is not empty %}
                    {% set val = old.difference %}
                {% endif %}
                <input type="text" class="form-control" id="difference" name="difference" value="{{ data.data.difference }}"/>
            </div>
        </div>
    </div>
</div>
