{% extends './layouts/admin.twig' %}
{% block title %}Punkteregel erstellen{% endblock %}
{% block description %}{% endblock %}

{% block admincontent %}
    <form method="POST" action="{{ route('admin.point_rules.store') }}" data-controller="question/create">
        {{ csrf_field() }}
        {% if errors.any() %}
            <div class="alert alert-danger">
                <ul class="m-0">
                    {% for error in errors.all() %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% include 'admin/pointrules/_form.twig' %}

        <div class="row">
            <div class="col-12 text-right">
                <input type="submit" class="btn btn-primary" value="Anlegen">
            </div>
        </div>

    </form>

{% endblock %}
