{% extends './layouts/admin.twig' %}
{% block title %}Punkteregel löschen{% endblock %}
{% block description %}{% endblock %}

{% block admincontent %}

    {% set hasErrors = 0 %}
    {%  if questionCount > 0 %}
        {% set hasErrors = 1 %}
        {% include 'components/alert/danger.twig' with {
            'title': 'Spiele vorhanden',
            'text': 'Diese Punkteregel wird noch in Fragen genutzt!'
        } %}
    {% endif %}



    {% if hasErrors == 0 %}
        <p>Möchten Sie die Punkteregel <b>{{ data.name }}</b> wirklich löschen?</p>
        <form method="POST" action="{{ route('admin.point_rules.remove', {id: data.id}) }}">
            {{ csrf_field() }}
            {% if errors.any() %}
                <div class="alert alert-danger">
                    <ul class="m-0">
                        {% for error in errors.all() %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-12 text-right">
                    <input type="submit" class="btn btn-primary" value="Punkteregel löschen">
                </div>
            </div>

        </form>
    {% else %}
        <a class="btn btn-primary" href="{{ route('admin.point_rules.index') }}">Zurück</a>
    {% endif %}

{% endblock %}
