{% extends './layouts/admin.twig' %}
{% block title %}Punkteregeln{% endblock %}
{% block description %}{% endblock %}

{% block admincontent %}
    <div class="row mb-4">
        <div class="col-12 text-right">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link btn-primary" href="{{ route('admin.point_rules.create') }}">Erstellen</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Typ</th>
                        <th class="text-right">Optionen</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rule in rules %}
                        <tr>
                            <td>{{ rule.name }}</td>
                            <td>
                                {% if rule.type == 0 %}
                                    Spiel
                                {% elseif rule.type == 1 %}
                                    Bonus
                                {% endif %}
                            </td>
                            <td class="text-right">

                                <a href="{{ route('admin.point_rules.edit', { id: rule.id }) }}" class="btn btn-link btn-sm" data-tippy-content="bearbeiten">
                                    {% include 'components/icon/icon.twig' with {
                                        'icon': 'pencil',
                                        'title': 'bearbeiten',
                                        'size': 2
                                    } %}
                                </a>
                                <a href="{{ route('admin.point_rules.delete', { id: rule.id}) }}" class="btn btn-link btn-sm text-danger" data-tippy-content="löschen">
                                    {% include 'components/icon/icon.twig' with {
                                        'icon': 'cross',
                                        'title': 'löschen',
                                        'size': 2
                                    } %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {{ rules.render }}

            </div>
        </div>
    </div>

{% endblock %}
