<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="name" class="input-label ">Name</label>
            <div class="input-group">
                {% set val = team.name %}
                {% if old.name is not empty %}
                    {% set val = old.name %}
                {% endif %}
                <input type="text" class="form-control" id="name" name="name" value="{{ val }}"/>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="short_name" class="input-label ">Kürzel</label>
            <div class="input-group">
                {% set val = team.short_name %}
                {% if old.short_name is not empty %}
                    {% set val = old.short_name %}
                {% endif %}
                <input type="text" class="form-control" id="short_name" name="short_name" value="{{ val }}"/>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="group" class="select-label ">Gruppe</label>
            {% set val = team.group %}
            {% if old.group is not empty %}
                {% set val = old.group %}
            {% endif %}
            <select class="custom-select" id="group" name="group">
                {% if val is empty %}
                <option disabled selected>Bitte wählen</option>
                {% endif %}
                <option value="A" {% if val == 'A' %}selected{% endif %}>Gruppe A</option>
                <option value="B" {% if val == 'B' %}selected{% endif %}>Gruppe B</option>
                <option value="C" {% if val == 'C' %}selected{% endif %}>Gruppe C</option>
                <option value="D" {% if val == 'D' %}selected{% endif %}>Gruppe D</option>
                <option value="E" {% if val == 'E' %}selected{% endif %}>Gruppe E</option>
                <option value="F" {% if val == 'F' %}selected{% endif %}>Gruppe F</option>
            </select>
        </div>
    </div>
    <div class="col-12 col-md-6">

    </div>
</div>
