{% extends './layouts/admin.twig' %}
{% block title %}Verein löschen{% endblock %}
{% block description %}{% endblock %}

{% block admincontent %}

    {% set hasErrors = 0 %}
    {%  if questionCounter > 0 %}
        {% set hasErrors = 1 %}
        {% include 'components/alert/danger.twig' with {
            'title': 'Fragen zugeordnet',
            'text': 'Diesem Team sind noch Fragen zugeordnet!'
        } %}
    {% endif %}

    {% if hasErrors == 0 %}
        <p>Möchten Sie den Verein <b>{{ team.name }}</b> wirklich löschen?</p>
        <form method="POST" action="{{ route('admin.teams.remove', { id: team.id}) }}">
            {{ csrf_field() }}
            {% if errors.any() %}
                <div class="alert alert-danger">
                    <ul class="m-0">
                        {% for error in errors.all() %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-12">
                    <input type="submit" class="btn btn-primary" value="Team löschen">
                </div>
            </div>
        </form>
    {% else %}
        <a class="btn btn-primary" href="{{ route('admin.teams.index') }}">Zurück</a>
    {% endif %}
{% endblock %}
