{% extends './layouts/admin.twig' %}
{% block title %}Verein bearbeiten{% endblock %}
{% block description %}{% endblock %}

{% block admincontent %}
    {% if app.session.get('status')== 'updated-success' %}
        <div class="col-12">
            {% include 'components/alert/info.twig' with {
                'title': 'Team wurde geändert!',
                'text': ''
            } %}
        </div>
    {% endif %}
    <form method="POST" action="{{ route('admin.teams.update', { id: team.id }) }}">
        {{ csrf_field() }}
        {% if errors.any() %}
            <div class="alert alert-danger">
                <ul class="m-0">
                    {% for error in errors.all() %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <input type="hidden" class="form-control" id="id" name="id" value="{{ team.id }}"/>

        {% include 'admin/teams/_form.twig' %}

        <div class="row">
            <div class="col-12">
                <a href="{{ route('admin.teams.index') }}" class="btn btn-secondary">Zurück</a>
                <input type="submit" class="btn btn-primary" value="Ändern">
            </div>
        </div>

    </form>

{% endblock %}
