
<div class="row">
    <div class="col-12 col-sm-4">
        <div class="form-group">
            <label for="type" class="select-label ">Typ</label>
            <select class="custom-select " id="type" name="type" data-controller="question/create/type-select">
                <option value="0" {% if type == 0 or old.type == 0 %} selected{% endif %}>Spiel</option>
                <option value="1" {% if type == 1 or old.type == 1 %} selected{% endif %}>Bonus</option>
            </select>
        </div>
    </div>
    <div class="col-12 col-sm-4">
        <div class="form-group">
            <label for="pointrule" class="select-label ">Punkteregel</label>
            <select class="custom-select " name="point_rule" id="pointrule" data-controller="question/create/pointrule-select">
                {% for rule in point_rules %}
                    <option
                        {% if question.point_rule == rule.id or old.point_rule == rule.id %}selected{% endif %}
                        value="{{ rule.id }}"
                    >{{ rule.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-12 col-sm-4">
        <div class="form-group">
            <label for="game_schedule_id" class="select-label ">Spieltag</label>
            <select class="custom-select " name="game_schedule_id" id="game_schedule_id" data-controller="question/create/schedule-select">
                {% for schedule in schedules %}
                    <option
                        {% if question.game_schedule_id == schedule.id or old.game_schedule_id == schedule.id %}selected{% endif %}
                        value="{{ schedule.id }}"
                    >{{ schedule.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-6 type-game type-bonus d-none">
        <div class="form-group">
            <label for="start_date" class="input-label">Spielbeginn</label>
            <div class="input-group">
                <input type="text"
                       placeholder="dd.mm.yyyy --:--:--"
                       class="form-control flatpickr"
                       name="start_date"
                       id="start_date"
                       {% if old.start_date is defined %}
                            value="{{ old.start_date }}"
                       {% elseif question.start_date is defined %}
                            value="{{ question.start_date }}"
                       {% endif %}
                />
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 type-game type-bonus d-none">
        <div class="form-group">
            <label for="max_tipp_date" class="input-label ">Maximaler Abgabetermin</label>
            <div class="input-group">
                <input type="text"
                       placeholder="dd.mm.yyyy --:--:--"
                       class="form-control flatpickr"
                       id="max_tipp_date"
                       name="max_tipp_date"
                        {% if old.max_tipp_date is defined %}
                            value="{{ old.max_tipp_date }}"
                        {% elseif question.max_tipp_date is defined %}
                            value="{{ question.max_tipp_date }}"
                        {% endif %}
                />
            </div>
        </div>
    </div>
</div>

<div class="row type-bonus d-none">
    <div class="col-12">
        <div class="form-group">
            <label for="question" class="input-label ">Frage</label>
            <div class="input-group">
                <input  type="text" class="form-control"
                        id="question"
                        name="question"
                        {% if old.question is defined %}
                            value="{{ old.question }}"
                        {% elseif question.bonusQuestion is defined %}
                            value="{{ question.bonusQuestion }}"
                        {% endif %}
                />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-6 type-bonus d-none">
        <div class="form-group">
            <label for="selection" class="select-label type-bonus d-none">Mannschaft(en)</label>
            <select class="custom-select " id="selection" name="selection[]" multiple="multiple" size="10">
                {% for team in teams %}

                    {% set selected = 0 %}
                    {% for bonusSelected in question.bonusSelectables %}
                        {% if bonusSelected.id == team.id %}
                            {% set selected = 1 %}
                        {% endif %}
                    {% endfor %}

                    {% for bonusSelected in old.selection %}
                        {% if bonusSelected.id == team.id %}
                            {% set selected = 1 %}
                        {% endif %}
                    {% endfor %}

                    <option
                        {% if selected == 1 %}selected{% endif %}
                        value="{{ team.id }}"
                    >{{ team.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% if question.bonusSelectables is defined %}
    <div class="col-12 col-sm-6 type-bonus d-none">
        <label for="selection" class="select-label type-bonus d-none">Aktuell selektierte Mannschaft(en)</label><br />
        {% for bonusSelected in question.bonusSelectables %}
            {{ bonusSelected.name }}<br />
        {% endfor %}
    </div>
    {% endif %}
</div>
<div class="row">
    <div class="col-12 col-sm-6 type-game d-none">
        <div class="form-group">
            <label for="home" class="select-label type-game d-none">Heimteam</label>

            <select class="custom-select" id="home" name="home">

                {% if question is defined and question.type == 0 %}

                {% else %}
                    <option disabled selected>Bitte wählen</option>
                {% endif %}

                {% for team in teams %}
                    {% set selected = 0 %}
                    {% if question is defined %}
                        {% if question.homeTeam.id == team.id %}
                            {% set selected = 1 %}
                        {% endif %}
                    {% endif %}


                    {% if old is defined and old.home %}
                        {% set selected = 0 %}
                        {% if old.home == team.id %}
                            {% set selected = 1 %}
                        {% endif %}
                    {% endif %}

                    <option
                        {% if selected == 1 %}selected{% endif %}
                        value="{{ team.id }}"
                    >{{ team.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-12 col-sm-6 type-game d-none">
        <div class="form-group">
            <label for="guest" class="select-label ">Gastteam</label>
            <select class="custom-select" id="guest" name="guest">

                {% if question is defined and question.type == 0 %}
                {% else %}
                    <option disabled selected>Bitte wählen</option>
                {% endif %}

                {% for team in teams %}
                    {% set selected = 0 %}
                    {% if question is defined %}
                        {% if question.guestTeam.id == team.id %}
                            {% set selected = 1 %}
                        {% endif %}
                    {% endif %}

                    {% if old is defined and old.guest %}
                        {% set selected = 0 %}
                        {% if old.guest == team.id %}
                            {% set selected = 1 %}
                        {% endif %}
                    {% endif %}

                    <option
                        {% if selected == 1 %}selected{% endif %}
                        value="{{ team.id }}"
                    >{{ team.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
