{% extends './layouts/admin.twig' %}
{% block title %}Frage erstellen{% endblock %}
{% block description %}{% endblock %}

{% block admincontent %}
    <form method="POST" action="{{ route('admin.questions.store') }}" data-controller="question/create">
        {{ csrf_field() }}
        {% if errors.any() %}
            <div class="alert alert-danger">
                <ul class="m-0">
                    {% for error in errors.all() %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% include 'admin/questions/_form.twig' %}

        <div class="row">
            <div class="col-12">
                <a href="{{ route('admin.questions.index') }}" class="btn btn-secondary">Zurück</a>
                <input type="submit" value="Anlegen" class="btn btn-primary"/>
            </div>
        </div>

    </form>
{% endblock %}
