{% extends './layouts/admin.twig' %}
{% block title %}Gewinnrunde löschen{% endblock %}
{% block description %}{% endblock %}

{% block admincontent %}
    <p>Möchten Sie die Frage <b>"{{ data.adminLabel }}"</b> wirklich löschen?</p>
    <form method="POST" action="{{ route('admin.questions.remove', {id: data.id}) }}">
        {{ csrf_field() }}
        {% if errors.any() %}
            <div class="alert alert-danger">
                <ul class="m-0">
                    {% for error in errors.all() %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-12">
                <input type="submit" class="btn btn-primary" value="löschen">
            </div>
        </div>

    </form>
{% endblock %}
