{% extends './layouts/admin.twig' %}
{% block title %}Fragen verwalten{% endblock %}
{% block description %}{% endblock %}

{% block admincontent %}
    <div class="row mb-4">
        {% if app.session.get('status')== 'created-success' %}
            <div class="col-12">
                {% include 'components/alert/info.twig' with {
                    'title': 'Frage wurde angelegt!',
                    'text': ''
                } %}
            </div>
        {% endif %}
        <div class="col-12">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link btn-primary" href="{{ route('admin.questions.create') }}">Erstellen</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Datum</th>
                <th>Name</th>
                <th>Typ</th>
                <th>Ergebnis</th>
                <th class="text-right">Optionen</th>
            </tr>
            </thead>
            <tbody>
            {% for question in questions %}
                <tr>
                    <td>{{ question.start_date|date("d.m.Y H:i") }}</td>
                    <td>
                        {{ question.adminLabel }}
                    </td>
                    <td>
                        {% if question.type == 0 %}
                            Spiel
                        {% elseif question.type == 1 %}
                            Bonus
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if question.type == 0 %}
                            {% if question.answer is defined and question.answer.home is defined %}
                                {{ question.answer.home }} : {{ question.answer.guest }}
                            {% else %}
                                - : -
                            {% endif %}
                        {% endif %}
                        {% if question.type == 1 %}
                            {% if game.answer is defined and game.answer is not empty %}
                                {{ game.answer }}
                            {% else %}
                                -
                            {% endif %}
                        {% endif %}
                    </td>
                    <td class="text-right">
                        <a href="{{ route('admin.questions.edit', { id: question.id }) }}" class="btn btn-link btn-sm" data-tippy-content="bearbeiten">
                            {% include 'components/icon/icon.twig' with {
                                'icon': 'pencil',
                                'title': 'bearbeiten',
                                'size': 2
                            } %}
                        </a>
                        <a href="{{ route('admin.questions.delete', { id: question.id}) }}" class="btn btn-link btn-sm text-danger" data-tippy-content="löschen">
                            {% include 'components/icon/icon.twig' with {
                                'icon': 'cross',
                                'title': 'löschen',
                                'size': 2
                            } %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {{ questions.render }}

{% endblock %}
