{% extends './layouts/frontend.twig' %}
{% block content %}

    <div class="container mt-8">
        <div class="row">
            {% include 'admin/_partials/sidebar.twig' %}

            <div class="col-md-9">
                <h1>{% block title %}{% endblock %}</h1>
                {% block admincontent %}

                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
  <script src="{{ mix('js/backend.js') }}" nonce="{{ csp_nonce() }}"></script>
{% endblock %}
