<!DOCTYPE html>
<html lang="{{ app.getLocale() }}">
<head>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0">

    {% block cookiebot %}
        <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="f3ce613c-89b2-4981-8b65-61d66c7d7d7b" data-blockingmode="auto" type="text/javascript"></script>
    {% endblock %}

    <title>{% block title %}Lidl EM-Tippspiel{% endblock %}</title>
    <meta name="description" content="{% block description %}Lidl EM-Tippspiel{% endblock %}"/>
    <meta property="og:type" content="website"/>
    <meta name="twitter:card" content="website"/>
    <!-- CSRF Token -->
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="prefetch" href="{{ asset('/css/app.css') }}" as="style">
    {% if currentRouteName starts with 'admin' %}
    {% else %}
        <link rel="preload" href="{{ mix('js/app.js') }}" as="script">
    {% endif %}
    {% if currentRouteName starts with 'admin' %}
        <link rel="stylesheet" type="text/css" href="{{ mix('/css/backend.css') }}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{ mix('/css/app.css') }}">
    {% endif %}


</head>
<body class="{% block bodyClass %}{% endblock %}">


<div id="page-container">
    <div id="content-wrap">
        {% include 'partials/header.twig' %}

        <div class="content mb-2 mb-lg-4">
            {% block content %}

            {% endblock %}
        </div>
    </div>

    {% block footer %}
        <footer class="footer" id="footer">
            <div class="container-responsive">
                <ul class="footer-list">
                    <li class="footer-list-item ">
                        <a class="footer-list-item-link text-white" href="{{ route('static.terms') }}" target="_parent">Teilnahmebedingungen</a>
                    </li>
                    <li class="footer-list-item ">
                        <a class="footer-list-item-link text-white" href="{{ route('static.impress') }}" target="_parent">Impressum</a>
                    </li>
                    <li class="footer-list-item ">
                        <a class="footer-list-item-link text-white" href="{{ route('static.privacy-policy') }}" target="_parent">Datenschutzinformation</a>
                    </li>
                    <li class="footer-list-item ">
                        <a class="footer-list-item-link text-white" href="{{ route('static.cookies') }}" target="_parent">Cookie Bestimmungen</a>
                    </li>

                    {% block footer_links_add %}

                    {% endblock %}
                </ul>
            </div>
        </footer>
    {% endblock %}
</div>

{% block javascript %}
  {% if currentRouteName starts with 'admin' %}
  <script data-cookieconsent="ignore" src="{{ mix('js/backend.js') }}" nonce="{{ csp_nonce() }}"></script>
  {% else %}
  <script data-cookieconsent="ignore" src="{{ mix('js/app.js') }}" nonce="{{ csp_nonce() }}"></script>
  {% endif %}

{% endblock %}
{% block marketing %}
    <!-- Facebook Pixel Code -->
    <script type="text/plain" data-cookieconsent="marketing">
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '354726938465811');
      fbq('track', 'PageView');
    </script>
    <!-- End Facebook Pixel Code -->

    <!-- Global site tag (gtag.js) - Google Ads: 758662856 -->
    <script type="text/plain" async src="https://www.googletagmanager.com/gtag/js?id=AW-758662856" data-cookieconsent="marketing"></script>
    <script data-cookieconsent="marketing" type="text/plain">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-758662856');
    </script>
    <!-- Google Tag Manager -->
    <script type="text/plain" data-cookieconsent="marketing">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-T42KTCX');</script>
    <!-- End Google Tag Manager -->
{% endblock %}
</body>
</html>
