<div class="col-md-3">

    {% if currentRouteName starts with 'admin.users' %}
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link{% if currentRouteName starts with 'admin.users' %} active{% endif %}"
               href="{{ route('admin.users.index') }}">
                Userverwaltung
            </a>
        </li>
        </ul>
    {% endif %}
    {% if currentRouteName starts with 'admin.teams'
        or currentRouteName starts with 'admin.schedules'
        or currentRouteName starts with 'admin.questions'
        or currentRouteName starts with 'admin.point_rules'
        or currentRouteName starts with 'admin.winning_rounds'
        or currentRouteName starts with 'admin.games'
        or currentRouteName starts with 'admin.answers'
    %}
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link{% if currentRouteName starts with 'admin.teams' %} active{% endif %}"
                   href="{{ route('admin.teams.index') }}">
                    Vereine verwalten
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if currentRouteName starts with 'admin.schedules' %} active{% endif %}"
                   href="{{ route('admin.schedules.index') }}">
                    Spieltage verwalten
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if currentRouteName starts with 'admin.questions' %} active{% endif %}"
                   href="{{ route('admin.questions.index') }}">
                    Fragen verwalten
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if currentRouteName starts with 'admin.answers' %} active{% endif %}"
                   href="{{ route('admin.answers.index') }}">
                    Antworten verwalten
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if currentRouteName starts with 'admin.winning_rounds' %} active{% endif %}"
                   href="{{ route('admin.winning_rounds.index') }}">
                    Gewinnrunden
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if currentRouteName starts with 'admin.point_rules' %} active{% endif %}"
                   href="{{ route('admin.point_rules.index') }}">
                    Punktregeln verwalten
                </a>
            </li>


        </ul>
    {% endif %}


</div>
