{% extends './layouts/admin.twig' %}
{% block title %}Spielverwaltung{% endblock %}
{% block description %}{% endblock %}

{% block admincontent %}
    <div class="row">
        <div class="col-md-9">
            <p>Hier können alle Spielrelevanten Teile verwaltet werden</p>
        </div>
    </div>
{% endblock %}
