{% if answer.type == 0 %} {# Spiel #}
<div class="row">
    <div class="col-12">
        <b>Spielergebnis:</b> {{ answer.label }} ( {{ answer.start_date|date("d.m.Y H:i") }} )
    </div>
    <div class="col-12">
        <div class="form-group">
            <label for="answer" class="input-label">Ergebnis</label>
            <div class="input-group">
                <input type="text"
                       placeholder="x:x"
                       class="form-control"
                       name="answer"
                       id="answer"
                    {% if old.answer is defined %}
                        value="{{ old.answer }}"
                    {% else %}
                        value="{{ answer.answer.home }}:{{ answer.answer.guest }}"
                    {% endif %}
                />
            </div>
        </div>
    </div>
</div>
{% elseif answer.type == 1 %} {# Bonus #}
    <div class="row">
        <div class="col-12">
            <b>{{ answer.label }}</b>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="answer" class="input-label">Ergebnis</label>
                <select class="custom-select " name="answer" id="answer">

                    {% if answer.answer is empty %}
                        <option disabled selected>Bitte wählen</option>
                    {% endif %}
                    {% for option in answer.bonusSelectables %}
                        <option
                            value="{{ option.id }}"
                            {% if answer.answer.id == option.id %} selected{% endif %}>
                            {{ option.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
{% endif %}

