{% extends './layouts/admin.twig' %}
{% block title %}Antwort bearbeiten{% endblock %}
{% block description %}{% endblock %}

{% block admincontent %}

    {% if app.session.get('status')== 'updated-success' %}
        <div class="col-12">
            {% include 'components/alert/info.twig' with {
                'title': 'Antwort wurde geändert!',
                'text': ''
            } %}
        </div>
    {% endif %}

    <form method="POST" action="{{ route('admin.answers.update', {id: answer.id}) }}">
        {{ csrf_field() }}
        {% if errors.any() %}
            <div class="alert alert-danger">
                <ul class="m-0">
                    {% for error in errors.all() %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <input type="hidden" name="id" value="{{ answer.id }}" />

        {% include 'admin/answers/_form.twig' %}

        <div class="row">
            <div class="col-12">
                <a href="{{ route('admin.answers.index') }}" class="btn btn-secondary">Zurück</a>
                <input type="submit" value="Speichern" class="btn btn-primary"/>
            </div>
        </div>

    </form>
{% endblock %}
