{% extends './layouts/admin.twig' %}
{% block title %}Antwort verwalten{% endblock %}
{% block description %}{% endblock %}

{% block admincontent %}
    <div class="row mb-4">
        {% if app.session.get('status')== 'created-success' %}
            <div class="col-12">
                {% include 'components/alert/info.twig' with {
                    'title': 'Antwort wurde angelegt!',
                    'text': ''
                } %}
            </div>
        {% endif %}
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Datum</th>
                <th>Name</th>
                <th>Typ</th>
                <th>Ergebnis</th>
                <th class="text-right">Optionen</th>
            </tr>
            </thead>
            <tbody>
            {% for question in questions %}
                <tr>
                    <td>{{ question.start_date|date("d.m.Y H:i") }}</td>
                    <td>
                        {% if question.type == 0 %}
                            {% if question.homeTeam is defined and question.homeTeam.name is defined %}
                                {{ question.homeTeam.name }} ({{ question.homeTeam.group }}) - {{ question.guestTeam.name }} ({{ question.guestTeam.group }})<br />
                            {% else %}
                                unbekannt - unbekannt
                            {% endif %}

                        {% endif %}
                        {% if question.type == 1 %}
                            {{ question.bonusQuestion }}
                        {% endif %}
                    </td>
                    <td>
                        {% if question.type == 0 %}
                            Spiel
                        {% elseif question.type == 1 %}
                            Bonus
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if question.type == 0 %}
                            {% if question.answer is defined and question.answer.home is defined %}
                                {{ question.answer.home }} : {{ question.answer.guest }}
                            {% else %}
                                - : -
                            {% endif %}
                        {% endif %}
                        {% if question.type == 1 %}
                            {% if question.answer is defined and question.answer is not empty %}
                                {{ question.answer.name }}
                            {% else %}
                                -
                            {% endif %}
                        {% endif %}
                    </td>
                    <td class="text-right">
                        <a href="{{ route('admin.answers.edit', { id: question.id }) }}" class="btn btn-link btn-sm" data-tippy-content="bearbeiten">
                            {% include 'components/icon/icon.twig' with {
                                'icon': 'pencil',
                                'title': 'bearbeiten',
                                'size': 2
                            } %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {{ questions.render }}

{% endblock %}
